<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CultureLearn</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<style>
    body {
        font-family: "Georgia";
    }
    .align {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h2,label {
        color: #dc3545;
    }
    input {
        border: 1px solid #dc3545;
    }
</style>
<body>
    <div class="align mt-5">
        <div class="card p-5 shadow-lg">
            
            <h2 class="mb-4">Recover Password</h2>
            <form id="forgotPasswordForm" method="post" class="forgot-password-form">
                {% csrf_token %}
                <label for="email">Email</label><br>
                <input style="width:100%;" type="email" id="email" name="email" placeholder="Enter your email" required><br>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-danger">Send</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        // Check for the forgot-password parameter and display an alert if present
        document.addEventListener('DOMContentLoaded', function() {
            const forgotSent = getParameterByName('forgot_password');
                console.log(forgotSent);
            if (forgotSent == 'True') {
                alert('Your Password Reset link has been sent to your registered email.');
            }
        });

        // Function to get URL parameters by name
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, '\\$&');
            const regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)');
            const results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }

       </script>
</body>
</html>