<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<style>
    .navColor {
        color: #dc3545;
    }
    h3,label {
        color: #dc3545;
        font-weight: bold;
    }
    textarea {
        border: 2px solid #dc3545;
        border-radius: 10px;
    }
    .scroll-height1 {
        height: 80vh; /* Set a maximum height for the comment section */
        overflow-y: auto; /* Enable vertical scrolling */
    }
    .scroll-height2 {
        height: 40vh; /* Set a maximum height for the comment section */
        overflow-y: auto; /* Enable vertical scrolling */
    }
    .comment-section::-webkit-scrollbar {
            width: 4px;
        }

        .comment-section::-webkit-scrollbar-thumb {
            background-color: #dc3545;
            border-radius: 10px;
        }

        .comment-section::-webkit-scrollbar-track {
            background-color: #f8f9fa;
            border-radius: 10px;
        }
        .content-container {
            height: 100vh;
            overflow-y: auto;
            box-sizing: border-box;
        }
</style>
<body background="https://res.cloudinary.com/dhva31opb/image/upload/v1701971408/paisley_hj6hf8.jpg">
    <div class="content-container">
      <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand navColor" href="#" style="font-weight: bold;">CultureLearn</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link navColor" aria-current="page" href="home.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link navColor" href="Q&A.html">Q&A</a>
              </li>
              <li class="nav-item">
                <a class="nav-link navColor" href="Articles.html">Articles</a>
              </li>
              <li class="nav-item">
                <a class="nav-link navColor" href="workshop.html">Workshops</a>
              </li>
              <li class="nav-item">
                <a class="nav-link navColor" href="PodCast.html">Podcast</a>
              </li>
              <li class="nav-item">
                <a class="nav-link navColor" href="Notifications.html">Notifications</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            </form>
            <hr>
            <button class="btn btn-danger" type="submit">LOGIN</button>
          </div>
        </div>
      </nav>
    <div class="container mt-4 pt-5">
        <div class="row">
            <div class="col-md-6 ">
                <h3>Registers</h3>
                <div class="card mb-3 p-3 scrollspy-example-2 scroll-height1 comment-section">
                {% for user in users %}
                    
                    <div class="alert alert-danger" role="alert">
                        <p>{{ user.username }} -> {{  user.email }}</p>
                    </div>
                {% endfor %}

                </div>
            </div>
            <div class="col-md-6">
                <h3>Organizer</h3>
                <div class="card mb-3 p-3 scrollspy-example-2 scroll-height2 comment-section" id="messages-section">
                    <!-- <div class="alert alert-danger" role="alert">
                        A simple danger alert—check it out!
                    </div>
                    <div class="alert alert-danger" role="alert">
                        A simple danger alert—check it out!
                    </div> -->
                </div>
                <form id="messageform" >
                    {% csrf_token %}
                <label class="mb-2">Type a msg:</label>
                <textarea name="content" style="width: 100%;" id="messege_content"></textarea><br>
                <button type ="submit" class="btn btn-danger mt-2" id="messegebutton" data-workshop-id="{{ workshopid }}">Send</button><br>
                </form>
                <form>
                    {% csrf_token %}
                <label class="mb-2">Mail content:</label><br>
                <textarea id ="mail_content" style="width: 100%;"></textarea><br>
                <button type="submit" class="btn btn-danger mt-2" id ="send_mail" >Send Mails</button>
                </form>
            </div>
        </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
<script>
    var messege_list=[]
    var workshopId ;
    $(document).ready(function () {
        workshopId = $('#messegebutton').data('workshop-id')
        get_messeges()
    });
    function add_messege(e) {
        e.preventDefault();
        var formData = $("#messageform").serialize();
        $.ajax({
            type: "POST",
            url: "/organizer_view/workshop_messages/" + $(this).data("workshop-id") +"/",
            data: formData,
            success: function (data) {
                alert(data.status);
                if(data.status != "The workshop has been completed."){
                if (Object.keys(data).length === 1 && data.hasOwnProperty("empty string") && data["empty string"] === true) {
                    return;
                } 
                var dangerAlert = document.createElement('div');
                var content = document.getElementById('messege_content').value;
                var container = document.getElementById('messages-section')
                dangerAlert.className = 'alert alert-danger';
                dangerAlert.setAttribute('role', 'alert');
                dangerAlert.textContent = content;
                container.appendChild(dangerAlert);
            }
            },
            error: function (error) {
                alert("Try again. Registration failed");
                console.log(error);
            },
        });
    }
    function get_messeges() {
    $.ajax({
        type: "GET",
        url: "/organizer_view/workshop_messages/" + workshopId + "/",
        success: function (data) {
            const object = JSON.parse(data)
            messege_list = object 
            render_messeges();

        },
        error: function (error) {
            console.log("Failed");
            console.log("Error:", error);
        },
    });
    render_messeges()
}
function render_messeges(){
        messege_list.forEach(
            function(messege){
                var content = messege.fields.content;
                var container = document.getElementById('messages-section');

                var dangerAlert = document.createElement('div');
                dangerAlert.className = 'alert alert-danger';
                dangerAlert.setAttribute('role', 'alert');
                dangerAlert.textContent = content;
                container.appendChild(dangerAlert);
            }
        )
    }
    function send_mails(e){
        e.preventDefault();
        var content = document.getElementById('mail_content').value;
        $.ajax({
            type: "POST",
            url: "/send_mails/" + $("#messegebutton").data("workshop-id") +"/",
            data: {'content': content,
            'csrfmiddlewaretoken': '{{ csrf_token }}'},
            success: function (data) {
                alert("emails are being sent")
            },
            error: function (error) {
                alert("Try again.");
                console.log(error);
            },
        });
    }
    $('#messegebutton').on('click', add_messege);
    $('#send_mail').on('click',send_mails);
</script>