<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decorative Arts</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<style>
    .navColor {
        color: #dc3545;
    }

    .img {
        height: 100%;
        /* Set the height to 100% */
        width: 100%;
        object-fit: cover;
        /* Ensure the image covers the entire container */
    }

    .col {
        display: flex;
        flex-direction: column;
    }

    .content-container {
        height: 100vh;
        overflow-y: auto;
        box-sizing: border-box;
    }

    hr {
        font-weight: bold;
        color: #dc3545;
    }

    h5,
    h1 {
        color: #dc3545;
    }
</style>

<body background="https://res.cloudinary.com/dhva31opb/image/upload/v1702749356/Indian-Art-Style_bxuqa9.jpg">
    <div class="content-container">
        {% include 'head-foot/navbar.html' %}
        <div class="container pt-5">
            <div class="card mt-5 p-5 mb-5">
                <h1 class="pb-5">Ancient Decorative Arts</h1>
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <div class="col">
                        <img src="https://res.cloudinary.com/dykwpv27p/image/upload/v1702652554/mauryan2.jpeg_qtxlik.jpg"
                            class="img" /><br>
                        <img src="https://res.cloudinary.com/dykwpv27p/image/upload/v1702652475/mauryan1_cjgqoz.avif"
                            class="img" />
                    </div>
                    <div class="col">
                        <h5>Mauryan Pillars</h5>
                        <hr>
                        <p>During the Maurya Period in ancient India (c. 322–185 BCE), the artistic achievements were notable for their architectural and sculptural brilliance. The Mauryan Empire, under the rule of Emperor Ashoka, witnessed the creation of significant works of decorative art. The Mauryan Empire erected intricately carved pillars, such as the Ashoka Pillar at Sarnath, featuring animal motifs and edicts, showcasing early Indian decorative art.
                        </p>
                        <h5>Ashoka pillars</h5>
                        <p>The most celebrated of the Ashokan pillars is the one erected at Sarnath, the site of Buddha’s First Sermon where he shared the Four Noble Truths (the dharma or the law). Currently, the pillar remains where it was originally sunk into the ground, but the capital is now on display at the Sarnath Museum. It is this pillar that was adopted as the national emblem of India. It is depicted on the one rupee note and the two rupee coin.</p>
                        <ul>
                            <li><span style="font-weight: bold;color: #dc3545;">The pillar: </span>The pillar is a symbol of the axis mundi and of the column that rises every day at noon from the legendary lake Anavatapa to touch the sun.</li>
                            <li><span style="font-weight: bold;color: #dc3545;">Sarnath Lion capital: </span>The top of the column—the capital—has three parts. First, a base of a lotus flower, the most ubiquitous symbol of Buddhism.<br>
                                Then, a drum on which four animals are carved represents the four cardinal directions: a horse (west), an ox (east), an elephant (south), and a lion (north). They also represent the four rivers that leave Lake Anavatapta and enter the world as the four major rivers. Each of the animals can also be identified by each of the four perils of samsara. The moving animals follow one another, endlessly turning the wheel of existence.<br>
                                Four lions stand atop the drum, each facing in the four cardinal directions. Their mouths are open, roaring or spreading the dharma, the Four Noble Truths, across the land. The lion references the Buddha, formerly Shakyamuni, a member of the Shakya (lion) clan. The lion is also a symbol of royalty and leadership and may also represent the Buddhist king Ashoka who ordered these columns. A cakra (wheel) was originally mounted above the lions.</li>
                        </ul>
                        <p>The decorative arts of the Maurya Period, played a crucial role in conveying the political, cultural, and religious messages of the time. They stand as enduring examples of the artistic and architectural prowess of ancient India.</p>    
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
                    <div class="col">
                        <h5>Stupas and Pillars</h5>
                        <hr>
                        <p>Besides the Ashoka Pillars, the Mauryan period witnessed the construction of stupas, such as the Great Stupa at Sanchi, adorned with intricate carvings and decorative elements. The Stupa at Sanchi, built during the Mauryan period and expanded during the Shunga period, is one of the most famous examples of Buddhist stupa art. It features a large hemispherical dome, toranas with exquisite carvings, and an Ashoka Pillar nearby.
                        </p>
                        <p>A stupa is a domed or hemispherical structure, often containing relics of the Buddha or other revered figures. It serves as a focal point for Buddhist worship and meditation.
                        </p>
                        <ul>
                            <li><span style="font-weight: bold;color: #dc3545;">Dome:</span>Stupas typically have a hemispherical or domed structure representing the cosmic Mount Meru,
                                 the mythical abode of the gods in Buddhist cosmology.</li>
                            <li><span style="font-weight: bold;color: #dc3545;">Spire (Anda):</span>Some stupas feature a spire rising above the dome, representing the axis of the universe.
                            </li>
                            <li><span style="font-weight: bold;color: #dc3545;">Harmika: </span>At the top of the dome, there is often a square or circular railing structure known as the harmika. It symbolizes the abode of gods and is sometimes associated with the Buddha's enlightenment.</li>
                            <li><span style="font-weight: bold;color: #dc3545;">Chhatra: </span>: Above the harmika, there may be a multiple-tiered parasol or umbrella, known as the chhatra, representing protection and the Buddhist community.</li>
                            <li><span style="font-weight: bold;color: #dc3545;">Wheel of Dharma (Dharmachakra): </span>The wheel is a common motif in Buddhist art, symbolizing the Buddha's first sermon and the Eightfold Path.</li>
                            <li><span style="font-weight: bold;color: #dc3545;">Lotus: </span>Representing purity and enlightenment, the lotus is a recurring motif in stupa art.</li>
                        </ul>
                        <p>The Buddhist stupa arts and their intricate carvings have left an indelible mark on the artistic and cultural heritage of India.</p>
                    </div>
                    <div class="col">
                       
                        <img src="https://res.cloudinary.com/dykwpv27p/image/upload/v1702652649/sanchi.stupa1_fat4mm.jpg"
                            class="img" />
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
                    <div class="col">
                        <img src="https://res.cloudinary.com/dykwpv27p/image/upload/v1702653140/terra_bgzget.jpg"
                            class="img" />
                    </div>
                    <div class="col">
                        <h5>Terracotta Art (Indus Valley Civilization)</h5>
                        <hr>
                        <p>The people of the Indus Valley Civilization created decorative terracotta figurines and pottery, displaying their skill in clay art.<br>
                            •	Popular terracotta pieces of all sizes have been discovered at Mauryan sites and abroad, and are the most abundant Mauryan works of art.<br>
                            •	They are more abundant between Pataliputra and Taxila.<br>
                            •	Many have stylized shapes and are technically more proficient, with a well-defined outline and distinct decoration. Although some look to be cast from moulds, there is minimal repetition.<br>
                            •	Deity figurines, votive reliefs with deities, toys, dice, decorations, and beads are among the terracotta from Taxila. Round medallions, comparable to the bullae worn by Roman youths, were among the jewellery.<br>
                            •	The earthy beauty of terracotta representations of folk gods and goddesses is common (some of them are perhaps dolls). Many of the animal figures are most likely children's toys.<br>
                            
                        </p>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
                    <div class="col">
                        <h5>Ajanta Cave - Murals</h5>
                        <hr>
                        <p>The Ajanta Caves featured exquisite murals depicting scenes from the life of Buddha and various Jataka tales, showcasing early Indian mural art.<br>
                        <br>The caves, cut into the face of a mountain, form a horseshoe shape around the Wangorah River. They are an example of one of Indian's unique artistic traditions known as rock-cut temples. Ajanta consists of thirty caves, each dedicated to the life of the Buddha. The Ajanta Cave paintings and sculptures are considered to be Buddhist religious art masterpieces. The Ajanta Cave murals are highly regarded for their ability to express emotions through pose, form, and gesture.<br>
                        <br>Each cave is filled with sculptures, wall murals, and ceiling paintings. Though much of this site has collapsed, what remains at Ajanta has allowed a glimpse into the artistic traditions of ancient India.<br>
                        <br>The most prominent subject matter of the Ajanta cave murals is the visual narration of the Jataka tales. These tales document the various incarnations of the Buddha. These stories encompass ancient cultural lore and morals that can also be found in Jain and Hindu texts. Through his various incarnations in both human and animal form, the Buddha made specific sacrifices to attain enlightenment, and this is why the Jataka tales are regarded as so significant. Today, Ajanta cave murals created from both periods still exist.</p>
                        
                    </div>
                    <div class="col">
                        <img src="https://res.cloudinary.com/dykwpv27p/image/upload/v1702652715/ajantha_ellora_caves_toq8ez.jpg"
                            class="img" />
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</body>

</html>

<!-- Family Gatherings

1.	Family Time: Christmas is a time for families to come together, share meals, and exchange gifts.

2.	Community Events: Many communities organize events, parades, and festivals to celebrate Christmas.
 -->