<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chousath Yogini Mandir</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<style>
  .navColor {
    color: #dc3545;
  }

  .img {
    height: 100%;
    /* Set the height to 100% */
    width: 100%;
    object-fit: cover;
    /* Ensure the image covers the entire container */
  }

  .col {
    display: flex;
    flex-direction: column;
  }

  .content-container {
    height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
  }

  hr {
    font-weight: bold;
    color: #dc3545;
  }

  h5,
  h1 {
    color: #dc3545;
  }
</style>

<body background="https://res.cloudinary.com/dut5kpxtj/image/upload/v1702489998/final-pano-crop_ytekmr.webp">
  <div class="content-container">
    {% include 'head-foot/navbar.html' %}
    <div class="container pt-5">
      <div class="card mt-5 p-5 mb-5">
        <h1 class="pb-5">Chausath Yogini Temple: A temple that
          celebrates the cult of powerful women</h1>
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col">
            <img src="https://res.cloudinary.com/dut5kpxtj/image/upload/v1702488217/Chausath-Yogini02_xxjfp0.webp" class="img" />
          </div>
          <div class="col">
            <h5>Introduction</h5>
            <hr>
            <p>The Chausath Yogini temple is in Mitaoli village (also spelled Mitawali or Mitavali), near
              Padaoli in Morena district 40 kilometres (25 mi) from Gwalior. According to an
              inscription dated to 1323 CE (Vikram Samvat 1383), the temple was built by the
              Kachchhapaghata king Devapala (r. c. 1055 – 1075). It is said that the temple was the
              venue of providing education in astrology and mathematics based on the transit of
              the Sun.
              The Archaeological Survey of India has declared the temple an ancient and historical
              monument under Act No. LXXI of 1951, dt.28/11/1951.
              The Chausath Yogini Temple, Morena, also known as Ekattarso Mahadeva Temple,
              Standing atop an isolated hill of about hundred feet high, this circular temple
              commands a splendid view of the cultivated fields below. This temple is so named
              because of the presence of multitude of shivalingas inside its cells. This circular temple
              is one among the very few such temples in India. This is a yogini temple dedicated to
              sixty-four yoginis.</p>
          </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
          <div class="col">
            <h5>Yogini Temples</h5>
            <hr>
            <p>The Yogini temples of India are 9th to 12th century roofless hypaethral shrines to
              the yoginis, female masters of yoga in Hindu tantra, broadly equated with goddesses
              especially Parvati, incarnating the sacred feminine force. They remained largely
              unknown and unstudied by scholars until late in the 20th century. Several of the shrines
              have niches for 64 yoginis, so are called Chausath Yogini Temples (Chausath Yogini
              Mandir, from चौसठ, Hindi for 64, also written Chaunsath or Chausathi); others have 42
              or 81 niches, implying different sets of goddesses, though they too are often called
              Chausath yogini temples. Even when there are 64 yoginis, these are not always the
              same.
              The extant temples are either circular or rectangular in plan; they are scattered over
              central and northern India in the states of Uttar Pradesh, Madhya Pradesh, and Odisha.
              Lost temples, their locations identified from surviving yogini images, are still more
              widely distributed across the subcontinent, from Delhi in the north and the border
              of Rajasthan in the west to Greater Bengal in the east and Tamil Nadu in the south.
            </p>
          </div>
          <div class="col">
            <img src="https://res.cloudinary.com/dut5kpxtj/image/upload/v1702488784/chausathyoginitemples1_irgm41.jpg" class="img" />
          </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
          <div class="col">
            <img src="https://res.cloudinary.com/dut5kpxtj/image/upload/v1702488906/chausath-yogini-temple-hirapur-odisha_ovtgem.jpg" class="img" />
          </div>
          <div class="col">
            <h5>History</h5>
            <hr>
            <p>Once upon a time, there lived a demon king Raktabija whose blood, if spilled, could
              create thousands of evil offspring. When Durga clashed with this seemingly invincible
              asura, she unleashed 64 yoginis—feminine beings who drank all his blood to the last,
              before it ever touched the ground.
              From this legend sprung the cult of the Chausath Yoginis (Chausath, meaning sixtyfour). The Chausath Yoginis of tantrism were one of the most esoteric cults of India–
              feared or venerated, depending on who you asked. The yoginis, they say, were a tight
              clan of sorceresses, and what transpired in their safe haven will remain a mystery forever,
              save for their sculpted carvings on the temple walls. Much like the yoginis, their temples
              were distinct from the mainstream, in form if not in function.</p>
              <img src="https://res.cloudinary.com/dut5kpxtj/image/upload/v1702488994/circular-cahusath-yogini-mandir-hirapur_kykf0v.jpg" class="img"/>
          </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
          <div class="col">
            <h5>Features</h5>
            <hr>
            <p>It takes a hundred steps to reach the Chausath Yogini temple of Morena, Madhya
              Pradesh, which stands on a hillock in Mitaoli village. The nearest city, Gwalior, is some
              40km away. This is probably a good thing, because it grants the monument an
              uninterrupted view of the Narmada valley, which makes the tedious journey worth it.
              Beware, though, for as vast as the blue horizon stretches, the stories of the belligerent
              practices of the deities run deep.
              The temple of Mitaoli is a part of 11 Chausath Yogini temples found across India.
              Each clan of Chausath Yoginis had seven or eight matriarch leaders; the presence of
              clans has been identified by temples in states of Odisha, Madhya Pradesh, Uttar Pradesh
              and Tamil Nadu.
              Like with other Chausath Yogini temples, the distinct architecture of the one in Mitaoli
              sets it apart from other Hindu temples. The circular shaped hypaethral structure runs
              about 125ft in diameter, with pillars running along the outer wall as well as the central
              shrine. These were the kind of features that identified a shrine to be a yogini’s place of
              worship.
              This temple, also known as Ekattarso Mahadeva Temple, was built by Kachchhapaghata
              king Devapala in 1323. This was a time, between the fifth and 13th centuries, when the
              semi divine goddesses were widely recognised and worshiped in the religious landscape.
              This temple has 64 chambers in its interior, each dedicated to a yogini or bharavi. The
              structure that leads the eye to the sky holds another secret under its ground—a
              humongous water storage facility. The main shrine consists of a slab covering with
              perforations to drain excessive rainwater. A network of pipes runs around it, evidence of
              the engineering marvel lain bare for passersby to witness. Some believe that the open
              air plan of the structure was built keeping cosmic sciences in mind, and was used for
              educational purposes. The design of the temple has withstood earthquake shocks,
              without any damage to its circular structural features, in the past several centuries. The
              temple is in the Seismic Zone III.
              Amidst all the theories, the sacrosanctity of the yogini’s traditions remains undisputed.
              There were matriarchs—some seraphic, some violent—who owed their allegiance only
              to Lord Shiva (Bhairava). Standing in the stone verandah, one can almost envision the
              nocturnal congregations that must have transpired there, with the guardians of the lord
              singing and dancing lost under the influence of astral projections.
            </p>
          </div>
          <div class="col">
            <img src="https://res.cloudinary.com/dut5kpxtj/image/upload/v1702489177/chamunda-yogini-hirapur_t94ds6.jpg" class="img mb-5" />
            <img src="https://res.cloudinary.com/dut5kpxtj/image/upload/v1702489224/mahamaya-temple-hirapur_uvlhqc.jpg" class="img" />
          </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col">
            <img src="https://res.cloudinary.com/dut5kpxtj/image/upload/v1702489818/64-yogini-temples_htupza.jpg" alt="" class="img">
          </div>
          <div class="col">
            <h5>The temple that inspired India’s
              Parliament House?</h5>
              <hr>
              <p>While the structure of the Chausath Yogini temples remains unique, an uncanny
                resemblance can be found in the Parliament House of New Delhi, which boasts 144
                columns surrounding a circular structure. No concrete evidence supports the possibility,
                but some historians claim that in laying the plan for the government building, Sir Edward
                Lutyens and Herbert Baker drew inspiration from the Chausath Yogini temple of Madhya
                Pradesh. Many of these curious visitors have compared this temple with the Indian
                parliament building (Sansad Bhawan) as both are circular in style. Many have drawn
                conclusions that this temple was the inspiration behind the Sansad Bhawan.
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>