<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Christmas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<style>
    .navColor {
        color: #dc3545;
    }

    .img {
        height: 100%;
        /* Set the height to 100% */
        width: 100%;
        object-fit: cover;
        /* Ensure the image covers the entire container */
    }

    .col {
        display: flex;
        flex-direction: column;
    }

    .content-container {
        height: 100vh;
        overflow-y: auto;
        box-sizing: border-box;
    }

    hr {
        font-weight: bold;
        color: #dc3545;
    }

    h5,
    h1 {
        color: #dc3545;
    }
</style>

<body background="https://res.cloudinary.com/dhva31opb/image/upload/v1702324339/tr600dil__4_s7l0xc.jpg">
    <div class="content-container">
        {% include 'head-foot/navbar.html' %}
        <div class="container pt-5">
            <div class="card mt-5 p-5 mb-5">
                <h1 class="pb-5">Christmas</h1>
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <div class="col">
                        <img src="https://res.cloudinary.com/dhva31opb/image/upload/v1702323898/WH-XmasTree_4x3_djim6x.avif"
                            class="img" />
                    </div>
                    <div class="col">
                        <h5>Introduction</h5>
                        <hr>
                        <p>Christmas was traditionally a Christian festival celebrating the birth of Jesus, but in the
                            early 20th century, it also became a secular family holiday, observed by Christians and
                            non-Christians alike. The secular holiday is often devoid of Christian elements, with the
                            mythical figure Santa Claus playing the pivotal role.
                            Christmas is celebrated by many Christians on December 25 in the Gregorian calendar. For
                            Eastern Orthodox churches that continue to use the Julian calendar for liturgical
                            observances, this date corresponds to January 7 on the Gregorian calendar. Gifts are
                            exchanged on Christmas Eve in most European countries and on Christmas morning in North
                            America
                            In addition to 'Christmas', the holiday has had various other English names throughout its
                            history. The Anglo-Saxons referred to the feast as "midwinter", or, more rarely, as
                            Nātiuiteð (from the Latin nātīvitās below). Nativity, meaning 'birth', is from the Latin
                            nātīvitās.] In Old English, Gēola ('Yule') referred to the period corresponding to December
                            and January, which was eventually equated with Christian Christmas. 'Noel' (also 'Nowel' or
                            'Nowell', as in "The First Nowell") entered English in the late 14th century and is from the
                            Old French noël or naël, itself ultimately from the Latin nātālis (diēs) meaning 'birth
                            (day)'.
                        </p>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
                    <div class="col">
                        <h5>Origin and Development</h5>
                        <hr>
                        <p>The early Christian community distinguished between the identification of the date of Jesus’
                            birth and the liturgical celebration of that event. The actual observance of the day of
                            Jesus’ birth was long in coming. In particular, during the first two centuries of
                            Christianity there was strong opposition to recognizing birthdays of martyrs or, for that
                            matter, of Jesus. Numerous Church Fathers offered sarcastic comments about the pagan custom
                            of celebrating birthdays when, in fact, saints and martyrs should be honoured on the days of
                            their martyrdom—their true “birthdays,” from the church’s perspective.
                            The precise origin of assigning December 25 as the birth date of Jesus is unclear. The New
                            Testament provides no clues in this regard. December 25 was first identified as the date of
                            Jesus’ birth by Sextus Julius Africanus in 221 and later became the universally accepted
                            date. One widespread explanation of the origin of this date is that December 25 was the
                            Christianizing of the dies solis invicti nati (“day of the birth of the unconquered sun”), a
                            popular holiday in the Roman Empire that celebrated the winter solstice as a symbol of the
                            resurgence of the sun, the casting away of winter and the heralding of the rebirth of spring
                            and summer. Indeed, after December 25 had become widely accepted as the date of Jesus’
                            birth, Christian writers frequently made the connection between the rebirth of the sun and
                            the birth of the Son. One of the difficulties with this view is that it suggests a
                            nonchalant willingness on the part of the Christian church to appropriate a pagan festival
                            when the early church was so intent on distinguishing itself categorically from pagan
                            beliefs and practices.
                        </p><br>
                        <p>A second view suggests that December 25 became the date of Jesus’ birth by a priori reasoning
                            that identified the spring equinox as the date of the creation of the world and the fourth
                            day of creation, when the light was created, as the day of Jesus’ conception (i.e., March
                            25). December 25, nine months later, then became the date of Jesus’ birth. For a long time
                            the celebration of Jesus’ birth was observed in conjunction with his baptism, celebrated
                            January 6.
                            Chistmas began to be widely celebrated with a specific liturgy in the 9th century but did
                            not attain the liturgical importance of either Good Friday or Easter, the other two major
                            Christian holidays. Roman Catholic churches celebrate the first Christmas mass at midnight,
                            and Protestant churches have increasingly held Christmas candlelight services late on the
                            evening of December 24. A special service of “lessons and carols” intertwines Christmas
                            carols with Scripture readings narrating salvation history from the Fall in the Garden of
                            Eden to the coming of Christ. The service, inaugurated by E.W. Benson and adopted at the
                            University of Cambridge, has become widely popular.

                        </p>
                    </div>
                    <div class="col">
                        <img src="https://res.cloudinary.com/dhva31opb/image/upload/v1702323928/christmas_hsgtuv.avif"
                            class="img mb-5" />
                        <img src="https://res.cloudinary.com/dhva31opb/image/upload/v1702323938/front-yard-Christmas_i1dgpb.webp"
                            class="img" />
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
                    <div class="col">
                        <img src="https://res.cloudinary.com/dhva31opb/image/upload/v1702325749/santa_miknyz.webp"
                            class="img" />
                    </div>
                    <div class="col">
                        <h5>Santa Claus</h5>
                        <hr>
                        <p>Santa Claus, also known as Father Christmas, Saint Nicholas, Saint Nick, Kris Kringle, or
                            simply Santa, is a legendary figure originating in Western Christian culture who is said to
                            bring gifts during the late evening and overnight hours on Christmas Eve. He is said to
                            accomplish this with the aid of Christmas elves, who make the toys in his North Pole
                            workshop, and with the aid of flying reindeer who pull his sleigh through the air.
                            The modern figure of Santa is based on folklore traditions surrounding Saint Nicholas, the
                            English figure of Father Christmas, and the Dutch figure of Sinterklaas.
                            Santa is generally depicted as a portly, jolly, white-bearded man, often with spectacles,
                            wearing a red coat with white fur collar and cuffs, white-fur-cuffed red trousers, a red hat
                            trimmed with white fur, a black leather belt and boots, carrying a bag full of gifts for
                            children. He is popularly associated with a deep, hearty laugh, frequently rendered in
                            Christmas literature as "ho, ho, ho!".
                        </p>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
                    <div class="col">
                        <h5>Cultural Celebrations</h5>
                        <hr>
                        <ul>
                            <li><span style="font-weight: bold;color: #dc3545;">Santa Claus: </span>The figure of Santa
                                Claus, derived from the historical Saint Nicholas, has become an integral part of
                                Christmas celebrations. Santa is often depicted as a jolly, bearded man in a red suit
                                who brings gifts to children on Christmas Eve.</li>
                            <li><span style="font-weight: bold;color: #dc3545;">Gift-Giving: </span>Exchanging gifts is
                                a widespread Christmas tradition, symbolizing the gifts given to baby Jesus by the Magi.
                            </li>
                            <li><span style="font-weight: bold;color: #dc3545;">Christmas Decorations: </span>Homes and
                                public spaces are adorned with festive decorations, including Christmas trees, lights,
                                wreaths, and ornaments.</li>
                            <li><span style="font-weight: bold;color: #dc3545;">Christmas Cards: </span>Sending and
                                receiving Christmas cards is a common tradition, featuring seasonal greetings and
                                well-wishes.</li>
                            <li><span style="font-weight: bold;color: #dc3545;">Christmas Markets:</span>Many places
                                host Christmas markets where people can buy festive foods, crafts, and decorations.</li>
                            <li><span style="font-weight: bold;color: #dc3545;">Caroling:</span>Singing Christmas
                                carols, both in public and during community events, is a cherished tradition..</li>
                        </ul>
                    </div>
                    <div class="col">
                        <img src="https://res.cloudinary.com/dhva31opb/image/upload/v1702323996/Header-1600x900-1_xowg3t.jpg"
                            class="img" />
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
                    <div class="col">
                        <img src="https://res.cloudinary.com/dhva31opb/image/upload/v1702324225/pexels-photo-3811051_nqedro.webp"
                            class="img" />
                    </div>
                    <div class="col">
                        <h5>Traditional Foods</h5>
                        <hr>
                        <ul>
                            <li><span style="font-weight: bold;color: #dc3545;">Christmas Feast: </span> A festive meal
                                is a central part of Christmas celebrations, featuring dishes that vary by culture and
                                region.</li>
                            <li><span style="font-weight: bold;color: #dc3545;">Cookies and Treats:</span>Baking and
                                exchanging Christmas cookies and treats is a common tradition.</li>
                        </ul>
                        <p>In summary, Christmas is a multifaceted celebration that combines religious observance with
                            cultural traditions, creating a festive and joyous atmosphere that brings people together in
                            the spirit of love, generosity, and goodwill.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

<!-- Family Gatherings

1.	Family Time: Christmas is a time for families to come together, share meals, and exchange gifts.

2.	Community Events: Many communities organize events, parades, and festivals to celebrate Christmas.
 -->