<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>constitution</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<style>
    .navColor {
        color: #dc3545;
    }

    .img {
        height: 100%;
        /* Set the height to 100% */
        width: 100%;
        object-fit: cover;
        /* Ensure the image covers the entire container */
    }


    .col {
        display: flex;
        flex-direction: column;
    }

    .content-container {
        height: 100vh;
        overflow-y: auto;
        box-sizing: border-box;
    }

    hr {
        font-weight: bold;
        color: #dc3545;
    }

    h5,
    h6,
    h1 {
        color: #dc3545;
    }
</style>

<body background="https://res.cloudinary.com/dhva31opb/image/upload/v1702412805/inde_uyjpik.webp">
    <div class="content-container">
        {% include 'head-foot/navbar.html' %}
        <div class="container pt-5">
            <div class="card mt-5 p-5 mb-5">
                <h1 class="pb-5">Constitution Day</h1>
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <div class="col">
                        <h5>Introduction</h5>
                        <hr>
                        <p>Constitution Day also known as 'Samvidhan Divas', is celebrated in our country on 26th November every year to commemorate the adoption of the Constitution of India. On 26th November 1949, the Constituent Assembly of India adopted the Constitution of India, which came into effect from 26th January 1950.
                            The Ministry of Social Justice and Empowerment on 19th November 2015 notified the decision of Government of India to celebrate the 26th day of November every year as 'Constitution Day' to promote Constitution values among citizens.                            
                        </p>
                    </div>
                    <div class="col">
                        <img src="https://res.cloudinary.com/dhva31opb/image/upload/v1702459417/constitution_p9jwyb.webp"
                            class="img" />
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
                    <div class="col">
                        <h5>Origin</h5>
                        <hr>
                        <p>Since 2015 was the 125th birth anniversary year of B. R. Ambedkar (14 April 1891 – 6 December 1956), who is known as the father of the Indian constitution, the government decided in May 2015 to celebrate this year "in a big way". A special committee chaired by Prime Minister of India was announced for year-long celebrations. Various programmes will be held by various ministries and departments throughout the year to spread thoughts and ideas of Ambedkar. As part of the celebrations while laying foundation stone for an Ambedkar memorial at the Indu Mills compounds in Mumbai in October 2015, the Prime Minister of India Narendra Modi announced that 26 November will be celebrated as "Constitution Day".In November 2015, the government officially announced celebration of the day.
                        </p>
                    </div>
                    <div class="col">
                        <img src="https://res.cloudinary.com/dhva31opb/image/upload/v1702455797/dr-br-ambedkars-death-anniversary-2023-all-you-need-to-know-062836708-16x9_0_d0c9rx.avif"
                            class="img mb-5" />
                    </div>
                </div> 
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
                    <div class="col">
                        <img src="https://res.cloudinary.com/dhva31opb/image/upload/v1702455691/Constittution_p62jvx.jpg"
                            class="img" />
                    </div>
                    <div class="col">
                        <h5>Significance</h5>
                        <hr>
                        <ul>
                            <li><span style="font-weight: bold;color: #dc3545;">Celebrating Constitutional Values:</span>Constitution Day is a time to reflect on the values and principles enshrined in the Constitution, including justice, liberty, equality, and fraternity. It highlights the commitment to a democratic and secular polity.</li>
                            <li><span style="font-weight: bold;color: #dc3545;">Architects of the Constitution:</span>The day also pays tribute to the leaders and members of the Constituent Assembly who worked tirelessly to draft the Constitution. Dr. B.R. Ambedkar, the Chairman of the Drafting Committee, is often remembered for his pivotal role.</li>
                            <li><span style="font-weight: bold;color: #dc3545;">Educational Importance:</span>Constitution Day provides an opportunity to educate citizens, especially students, about the significance of the Constitution, its key features, and the rights and duties it guarantees.</li>
                            <li><span style="font-weight: bold;color: #dc3545;">Upholding the Rule of Law:</span>It emphasizes the importance of the rule of law and the role of the Constitution in providing a framework for governance and protecting the rights of citizens.</li>
                        </ul>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
                    <div class="col">
                        <h5>Celebrations</h5>
                        <hr>
                        <ul>
                            <li><span style="font-weight: bold;color: #dc3545;">Reading of the Preamble:</span>A common practice on Constitution Day is the reading of the Preamble to the Constitution. Educational institutions, government offices, and various organizations conduct readings to reaffirm the values and objectives of the Constitution.</li>
                            <li><span style="font-weight: bold;color: #dc3545;">Pledge and Oath-Taking:</span>Individuals, students, and officials often take a pledge or oath to uphold the Constitution, abide by its principles, and work towards the ideals it envisions for the nation.</li>
                            <li><span style="font-weight: bold;color: #dc3545;">Seminars and Workshops:</span>Educational institutions, legal bodies, and government organizations organize seminars, workshops, and discussions on constitutional law, governance, and related subjects. These events aim to enhance awareness and understanding of constitutional principles.</li>
                            <li><span style="font-weight: bold;color: #dc3545;">Mock Parliament Sessions:</span>Some schools and colleges organize mock parliament sessions, allowing students to understand the functioning of democratic institutions and the parliamentary system.</li>
                            <li><span style="font-weight: bold;color: #dc3545;">Legal Awareness Campaigns:</span>Constitution Day is an occasion for legal awareness campaigns. Legal aid clinics, NGOs, and legal institutions conduct programs to educate citizens about their rights and responsibilities.</li>
                            <li><span style="font-weight: bold;color: #dc3545;">Competitions and Debates:</span>Institutions often organize essay competitions, debates, and quizzes on constitutional topics. These activities encourage students and the general public to delve deeper into constitutional issues.</li>
                            <li><span style="font-weight: bold;color: #dc3545;">Public Lectures:</span>Eminent legal scholars, jurists, and experts may deliver public lectures on constitutional law, governance, and related subjects. These lectures contribute to the public understanding of the Constitution.</li>
                            <li><span style="font-weight: bold;color: #dc3545;">Social Media Campaigns:</span>In the digital age, social media plays a significant role in creating awareness. Campaigns and posts highlighting constitutional values, quotes, and snippets are shared across platforms.</li>
                            <li><span style="font-weight: bold;color: #dc3545;">Government Initiatives:</span>The Government of India may announce various initiatives, programs, or events to mark Constitution Day, emphasizing the importance of constitutional values and civic responsibilities.</li>
                        </ul>
                    </div>
                    <div class="col">
                        <img src="https://res.cloudinary.com/dhva31opb/image/upload/v1702456957/preamble_hdmruy.jpg"
                            class="img" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



