<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gudipadwa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<style>
    .navColor {
        color: #dc3545;
    }

    .img {
        height: 100%;
        /* Set the height to 100% */
        width: 100%;
        object-fit: cover;
        /* Ensure the image covers the entire container */
    }

    .col {
        display: flex;
        flex-direction: column;
    }

    .content-container {
        height: 100vh;
        overflow-y: auto;
        box-sizing: border-box;
    }

    hr {
        font-weight: bold;
        color: #dc3545;
    }

    h5,
    h1 {
        color: #dc3545;
    }
</style>

<body background="https://res.cloudinary.com/dhva31opb/image/upload/v1702122317/back2_lx6suj.jpg">
    <div class="content-container">
        {% include 'head-foot/navbar.html' %}
        <div class="container pt-5">
            <div class="card mt-5 p-5 mb-5">
                <h1 class="pb-5">Gudi Padwa</h1>
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <div class="col">
                        <img src="https://res.cloudinary.com/dhva31opb/image/upload/v1702390425/gudi-padwa_1521180670_s1ncvp.avif"
                            class="img" />
                    </div>
                    <div class="col">
                        <h5>Introduction</h5>
                        <hr>
                        <p>Gudi Padwa is a spring festival marking the start of the traditional new year for Hindus,
                            primarily those of the Marathi and Konkani heritage. It is celebrated in and around
                            Maharashtra, Goa, Madhya Pradesh, and Dadra and Nagar Haveli and Daman and Diu at the start
                            of Chaitra, the first month of the lunisolar Hindu calendar. The festival is observed with
                            colourful floor decorations called rangoli, a special gudi dvaja (a saree or piece of cloth
                            garlanded with flowers, mango, and neem leaves; a sugar crystal garland called gathi, topped
                            with upturned silver or copper vessels), street processions, dancing, and festive foods.</p>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
                    <div class="col">
                        <h5>Historical Legends and Beliefs</h5>
                        <hr>
                        <p>One of the sacred texts of the Hindus, the Brahma Purana states that Lord Brahma recreated
                            the world after a raging deluge in which all time had stopped and all the people of the
                            world, destroyed. On Gudi Padva, time restarted and from this day on, the era of truth and
                            justice (known as Satyug) began. Therefore, Lord Brahma is worshipped on this day.
                            Another popular legend about the origin of this festival revolves around the return of Lord
                            Rama to Ayodhya along with his wife Sita and his brother Laxman from exile. The
                            ‘Brahmadhvaj’ or ‘the flag of Brahma’ (other names for the Gudi) is hoisted in memory of the
                            coronation of Lord Rama. The Gudi is hoisted at the entrance of the household in One of the
                            sacred texts of the Hindus, the Brahma Purana states that Lord Brahma commemoration of the
                            Gudi that was hoisted in Ayodhya as a victory flag. It is also believed that Lord Rama was
                            victorious over King Bali on this day, marking this occasion.
                            For the people of Mahrashtra, there is an added significance to this festival. It is
                            believed that Chhattrapati Shivaji Maharaj, celebrated leader of the Maratha clan, led the
                            troops to victory and attained freedom for the kingdom from the dominion of the Mughals in
                            that area. The Gudi then is a symbol of victory and prosperity.

                        </p>
                    </div>
                    <div class="col">
                        <img src="https://res.cloudinary.com/dhva31opb/image/upload/v1702390387/gudi_jz08i8.avif"
                            class="img" />
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
                    <div class="col">
                        <img src="https://res.cloudinary.com/dhva31opb/image/upload/v1702391347/gudipadwa2_v1bf4d.webp"
                            class="img" />
                    </div>
                    <div class="col">
                        <h5>Significance</h5>
                        <hr>
                        <p>Gudi Padva signifies the arrival of spring and the reaping of rabi crops. The festival is
                            linked to the mythical day on which the Hindu god Brahma created time and the universe. To
                            some, it commemorates the coronation of Rama in Ayodhya after his victory over Ravana, or
                            the start of the Shalivahan calendar after he defeated the Huns in the first century.
                            According to Anne Feldhaus, in rural Maharashtra, the festival is linked to Shiva's dance
                            and the coming together of the community as they carry the Gudi Kavads together to a Shiva
                            temple.
                        </p>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
                    <div class="col">
                        <h5>The Gudi</h5>
                        <hr>
                        <p>During Gudi Padwa, gudi (or gudhi) are arranged at every household. It is a bright, colorful
                            silk scarf-like cloth tied at the top of a long bamboo. On top of it, one or more boughs of
                            neem and mango leaves are attached with a garland of flowers. It is capped with a silver,
                            bronze, or copper pot (handi or kalash), signifying victory or achievement.
                            Some temples are located on the top of hills, and groups work together to help reach the
                            kavad to the top.
                            The Gudhi Padwa festival marks the new year, but also celebrates victory of Maratha warriors
                            in processions</p>
                        <br>
                        <p>Some of the significances attributed to raising a gudi are as follows: </p>
                        <ul>
                            <li>It symbolises the victory of King Shalivahana and was hoisted by his people when he
                                returned to Paithan.</li>
                            <li>It symbolises Brahma's flag mentioned in the Brahma Purana, and may also represent
                                Indra's flag.</li>
                            <li>It is believed to ward off evil, invite prosperity and good luck into the house.</li>
                        </ul>
                    </div>
                    <div class="col">
                        <img src="https://res.cloudinary.com/dhva31opb/image/upload/v1702390449/smallgudis-1678861279_hxyaj5.jpg"
                            class="img mb-5" />
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
                    <div class="col">
                        <h5>Celebration and Festivities</h5>
                        <hr>
                        <p>Since Gudi Padva marks the beginning of spring and the Maharashtrian New Year a thorough
                            cleaning of the entire house as well as the courtyards is a must. Post this, they bathe in
                            special oils and aromatics. The women and girls in the house prepare an extensive and
                            elaborate Rangoli at the doorstep of their house as well as the area where the Gudi is to be
                            erected.
                            All celebrants dress up in their best clothes for this occasion. In fact, new garments are
                            purchased specially for the occasion of Gudi Padwa. While women may wear sarees or salwar
                            kameez, the men wear kurta pajamas, preferably in the color white.
                        </p>
                        <br>
                        <p>The hoisting of the Gudi is the most important ritual of this celebration. After it is
                            erected, people offer prayers to Lord Brahma. The locality comes together at this point to
                            perform a special ritual, which is the breaking of a coconut kept in the Gudi by forming a
                            human pyramid, by only men and adolescent boys. This structure is scaled by one man or boy
                            climbs to break the fruit.Another unique custom that is part of the celebrations is the
                            ingestion of Neem leaves. These can either be eaten directly or ground into a paste and used
                            in a special preparation along with jiggery and certain seeds. The significance of this
                            custom is to mark the commencement of the festivities.
                            Special food is prepared on this day including a sweet known as Shrikhand that is consumed
                            with a type of Indian bread known as Poori. Other special dishes include Pooran Poli also
                            known as sweet Indian flatbread, Soonth Panak and Chana.
                        </p>
                    </div>
                    <div class="col">
                        <img src="https://res.cloudinary.com/dhva31opb/image/upload/v1702392616/gudi-padwa-ap-759_gdrsfr.webp"
                            class="img mb-5" />
                        <img src="https://res.cloudinary.com/dhva31opb/image/upload/v1702392886/shrikhand_tkmrrl.jpg"
                            class="img mb-5" />
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
                    <div class="col">
                        <img src="https://res.cloudinary.com/dhva31opb/image/upload/v1702390532/traditional-attire_gudi_dwjyzw.webp"
                            class="img" />
                    </div>
                    <div class="col">
                        <h5>Wearing the Attire</h5>
                        <hr>
                        <p>Since the main celebration of Gudi Padwa takes place in Maharashtra, the attire worn by the
                            celebrants, especially women is very traditional to the region. The saree, which can be in a
                            variety of bright colors, is draped in such a way that the bottom half looks more like dhoti
                            pants than a long skirt. The sarees usually have embellishments in gold on the border while
                            the rest of the saree is plain i.e. without any pattern. This ensemble is accessorized with
                            a garland of mogra flowers in the hair, which is tied in a bun, along with an elaborate gold
                            nose pin. The earrings are also in gold with a single ornamental chain pinned up with the
                            hair.Many men and women also tie a turban around their heads in saffron colored cotton
                            cloth.
                        </p>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
                    <div class="col">
                        <img src="https://res.cloudinary.com/dhva31opb/image/upload/v1702390581/1GudiPadwa_AP_eaegv5.avif"
                            class="img" />
                    </div>
                    <div class="col">
                        <h5>Facts and Trivia</h5>
                        <hr>
                        <ul>
                            <li>Gudi Padva is also symbolic of the love between a husband and wife. Newlywed women are
                                called for lunch to their mother’s house along with their husbands.</li>
                            <li>Gudi Padwa falls on one of the three and a half auspicious days of the bright phase of
                                the moon.</li>
                            <li>Gudi Padva is considered as an auspicious day for farmers to begin sowing seeds.</li>
                            <li>Gudi Padva also marks the beginning of the Shaka calendar, named when the sakas were
                                defeated in battle.</li>
                            <li>Gudi Padva is often considered a prequel or even a pre-evolved form of Holi.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>