<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gurudwara</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<style>
    .navColor {
        color: #dc3545;
    }

    .img {
        height: 100%;
        /* Set the height to 100% */
        width: 100%;
        object-fit: contain;
        /* Ensure the image covers the entire container */
    }

    .col {
        display: flex;
        flex-direction: column;
    }

    .content-container {
        height: 100vh;
        overflow-y: auto;
        box-sizing: border-box;
    }

    hr {
        font-weight: bold;
        color: #dc3545;
    }

    h4,
    h6,
    h1 {
        color: #dc3545;
    }
</style>

<body background="https://res.cloudinary.com/dhva31opb/image/upload/v1702499290/gtclose_lzists.jpg">
    <div class="content-container">
        {% include 'head-foot/navbar.html' %}
        <div class="container pt-5">
            <div class="card mt-5 p-5 mb-5">
                <h1 class="pb-5">Gurudwara</h1>
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <div class="col">
                        <img src="https://res.cloudinary.com/dhva31opb/image/upload/v1702499230/Golden-Temple-at-Night-Amritsar_ujca2n.webp"
                            class="img" />
                    </div>
                    <div class="col">
                        <h4>Introduction</h4>
                        <hr>
                        <p>A gurdwara or gurudwara (Punjabi: ਗੁਰਦੁਆਰਾ gurdu'ārā, meaning "Door to the Guru") is a place
                            of assembly and worship for Sikhs. Sikhs also refer to gurdwaras as Gurdwara Sahib. People
                            from all faiths are welcomed in gurdwaras. Each gurdwara has a Darbar Sahib where the Guru
                            Granth Sahib is placed on a takhat (an elevated throne) in a prominent central position. Any
                            congregant (sometimes with specialized training, in which case they can be known by the
                            term granthi) may recite, sing, and explain the verses from the Guru Granth Sahib, in the
                            presence of the rest of the congregation.
                            All gurdwaras have a langar hall, where people can eat world food and serve
                            themselves.[1] They may also have a medical facility room, library, nursery, classroom,
                            meeting rooms, playground, sports ground, a dance floor area, an arcade machine area, a gift
                            shop, and finally a repair shop. A gurdwara can be identified from a distance by tall
                            flagpoles bearing the Nishan Sahib, the Sikh flag.
                            The best-known gurdwaras are in the Darbar Sahib complex
                            in Amritsar, Punjab, including Darbar Sahib, the spiritual center of the Sikhs and Akal
                            Takht, the political center of the Sikhs.

                        </p>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
                    <div class="col">
                        <h4>History</h4>
                        <hr>
                        <p>Sikhs believe that Guru Nanak was ordained directly by God to construct dharamsals (places of
                            worship; meaning ‘abode of righteousness’), as per the B.40 Janamsakhi: The institution of
                            Sikh dharamsals from those of other faiths, ordaining it as an independent institution based
                            upon Sikhism alone. The first centre was built in Kartarpur, on the banks of Ravi River in
                            the Punjab region by the first Sikh guru, Guru Nanak Dev in the year 1521. It now lies in
                            the Narowal District of west Punjab (Pakistan). During the time of Guru Nanak, Sikh places
                            of worship were known as dharamsals where kirtan was conducted by the early Sikh
                            congregation.
                            The worship centres were built as a place where Sikhs could gather to hear the guru give
                            spiritual discourse and sing religious hymns in the praise of Waheguru.

                            As the Sikh population continued to grow, Guru Hargobind, the sixth Sikh guru, introduced
                            the word gurdwara. Gurdwaras evolved out of the earlier Dharamsal centres.[4]
                            The etymology of the term gurdwara is from the words gur (ਗੁਰ) (a reference to the Sikh
                            gurus) and dwara (ਦੁਆਰਾ) (gateway in Punjabi), together meaning 'the gateway through which
                            the guru could be reached'. Thereafter, all Sikh places of worship came to be known as
                            gurdwaras.
                            The use of 'sahib', as sometimes appended in the term Gurdwara Sahib, derives from
                            a loanword of Arabic origin, meaning "companion" or "friend".
                            Kanwarjit Singh Kang classifies gurdwaras into two distinct categories:
                        </p>
                        <ol>
                            <li>
                                <h6>Community Gurudwaras - </h6>
                            </li>
                            <p>which are constructed by Sikhs to meet their religious and social requirements (includes
                                ones constructed outside of India) </p>
                            <li>
                                <h6>Historical gurdwaras - </h6>
                            </li>
                            <p> which are constructed by Sikhs at sites of historical importance in the history of
                                Sikhism (these gurdwaras tend to be more famous)
                            </p>
                        </ol>

                    </div>
                    <div class="col">
                        <img src="https://res.cloudinary.com/dhva31opb/image/upload/v1702499045/Guru_Nanakhistory_bkadho.avif"
                            class="img mb-5" />

                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
                    <div class="col">
                        <img src="https://res.cloudinary.com/dhva31opb/image/upload/v1702500156/aboutimp1_qldrlm.webp"
                            class="img" />
                        <img src="https://res.cloudinary.com/dhva31opb/image/upload/v1702500151/aboutimp1_keyhuc.jpg"
                            class="img" />
                    </div>
                    <div class="col">
                        <h4>About</h4>
                        <hr>
                        <p>A gurdwara has a main hall called a darbar, a community kitchen called a langar, and other
                            facilities. The essential features of a gurdwara are these public spaces, the presence of
                            the holy book and eternal Sikh guru the Granth Sahib, the pursuit of the Sikh Rehat
                            Maryada (the Sikh code of conduct and convention), and the provision of daily services -
                        </p>
                        <ul>
                            <li>
                                <h6>Shabad kirtan - </h6>
                            </li>
                            <p> singing hymns from the Granth Sahib. Strictly speaking only Shabads from Guru Granth
                                Sahib, Dasam Granth, and the compositions of Bhai Gurdas and Bhai Nand Lal, can be
                                performed within a gurdwara.
                            </p>
                            <li>
                                <h6>Paath - </h6>
                            </li>
                            <p>religious discourse and reading of Gurbani from the Guru Granth Sahib, with its
                                explanations. There are two types of discourse: Akhand Paath and Sadharan Paath.
                            </p>
                            <li>
                                <h6>Sangat - </h6>
                            </li>
                            <p>providing a free community kitchen called a langar for all visitors, regardless of
                                cultural, religious, regional, caste, or class affiliations.
                            </p>
                        </ul>
                        <p>Other ceremonies performed there include the Sikh marriage ceremony, Anand Karaj; some of the
                            rites of the death ceremony, Antam Sanskar; and most of the important Sikh Festivals.
                            The Nagar Kirtan, a Sikh processional singing of holy hymns throughout a community, begin
                            and conclude at a gurdwara.
                            Gurdwaras around the world may also serve the Sikh community in other ways, including acting
                            as libraries of Sikh literature and schools to teach children Gurmukhi, housing the Sikh
                            scriptures, and organizing charitable work in the wider community on behalf of Sikhs. Many
                            historical gurdwaras associated with the lives of the Sikh Gurus have a sarovar
                            (eco-friendly pool) attached for bathing.
                            Gurdwaras have no idols or statues.
                        </p>





                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
                    <div class="col">
                        <h4>Architecture</h4>
                        <hr>
                        <p>
                            Gurdwara buildings do not have to conform to any set architectural design. The only
                            established requirements are: the installation of the Granth Sahib under a canopy or in a
                            canopied seat, usually on a platform higher than the specific floor on which the devotees
                            sit, and a tall Sikh pennant flag atop the building.
                            In the 21st century, more and more gurdwaras (especially within India) have been following
                            the Harimandir Sahib pattern, a synthesis of Indo-Islamic and Sikh architecture. Most of
                            them have square halls, stand on a higher plinth, have entrances on all four sides, and have
                            square or octagonal domed sanctums usually in the middle. During recent decades, to meet the
                            requirements of larger gatherings, bigger and better ventilated assembly halls, with the
                            sanctum at one end, have become accepted style. The location of the sanctum, more often than
                            not, is such as to allow space for circumambulation. Sometimes, to augment the
                            space, verandahs are built to skirt the hall. A popular model for the dome is the ribbed
                            lotus, topped by an ornamental pinnacle. Arched copings, kiosks and solid domelets are used
                            for exterior decorations.

                        </p>

                    </div>
                    <div class="col">
                        <img src="https://res.cloudinary.com/dhva31opb/image/upload/v1702500439/archi_tecture_hzxkqb.jpg"
                            class="img" />
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
                    <div class="col">


                    </div>
                    <div class="col">

                        <hr>


                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

