<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Christmas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<style>
    .navColor {
        color: #dc3545;
    }

    .img {
        height: 100%;
        /* Set the height to 100% */
        width: 100%;
        object-fit: cover;
        /* Ensure the image covers the entire container */
    }

    .col {
        display: flex;
        flex-direction: column;
    }

    .content-container {
        height: 100vh;
        overflow-y: auto;
        box-sizing: border-box;
    }

    hr {
        font-weight: bold;
        color: #dc3545;
    }

    h5,
    h1 {
        color: #dc3545;
    }
</style>

<body background="https://res.cloudinary.com/dykwpv27p/image/upload/v1702475759/kumb_bg_lvhu5f.jpg">
    <div class="content-container">
        {% include 'head-foot/navbar.html' %}
        <div class="container pt-5">
            <div class="card mt-5 p-5 mb-5">
                <h1 class="pb-5">Kumbhalgarh Fort</h1>
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <div class="col">
                        <img src="https://res.cloudinary.com/dykwpv27p/image/upload/v1702475526/Kumbhalgarh-Fort3_uirlf4.webp"
                            class="img" />
                    </div>
                    <div class="col">
                        <h5>Introduction</h5>
                        <hr>
                        <p>Kumbhalgarh (literally "Kumbhal fort"), also known as the Great Wall of India, is a Mewar fortress on the westerly range of Aravalli Hills about 48 km from Rajsamand city in the Rajsamand district of the Rajasthan state in western India. It is located about 84 km from Udaipur. It was built during the 15th century by Rana Kumbha.</p><br>
                            Kumbhalgarh is a fortress and UNESCO World Heritage site located in the Indian state of Rajasthan. It is the second most important fort in Rajasthan after Chittorgarh, and is known for its massive walls that extend for over 36 kilometers. The fort is situated on a hilltop and offers views of the surrounding Aravalli Range. The fort contains a number of palaces, temples, and other structures, including the Badal Mahal, the Kumbha Palace, and the Neelkanth Mahadev Temple. The fort is also known for its association with the Rajput warrior-king Maharana Pratap and for its role in the defense of Mewar during the 16th century.
                            
                        </p>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
                    <div class="col">
                        <h5>History of the Fort</h5>
                        <hr>
                        <p>The brilliant Kumbhalgarh fort is said to be the birthplace of Maharana Pratap. The fort further consists of inscriptions on the foot of idols in Hanuman Pol that provides details of construction of the fort. The Badshahi Bavdi is a stepped tank that was built by the general of Akbar to provide drinking water to the army troops in 1578. The fort initially faced many problems during construction but was resolved by performing a human sacrifice and the main gate of the fortress which is the Hanuman Pol, contains the shrine and a temple to thank and remember the great sacrifice of a warrior.
                        </p><br>
                        <h5>Architectural pride of Mewar - Kumbhalgarh Fort </h5>
                        <hr>
                        <p>Extending from the Aravali mountain range in northwest to Madhya Pradesh’s Malwa region in the southeast, encompassing regions in Gujarat and Rajasthan, lied the majestic kingdom of Mewar, ruled by the Rajputs for many centuries starting from 530 AD. To defend herself over these many centuries, Mewar had an impressive collection of 84 fortresses. The crown jewel amongst these and one of the most massive forts ever built was Kumbhalgarh Fort in Rajsamand near Udaipur. Built on a hilltop 1,100 m (3,600 ft) above sea level on the Aravalli range, the fort of Kumbhalgarh has perimeter walls that extend 36 km (22 mi), making it among the longest walls in the world. The frontal walls are 4.5 m (15 ft). Kumbhalgarh has seven fortified gateways. After the Great Wall of China, this 15 feet wide 36 km long fort wall of Kumbhalgarh has earned the moniker of – The Great Wall of India.
                            There are over 360 temples within the fort, both Jain and Hindu Temples. From the palace top, it is possible to see Kilometres into the Aravalli Range.
                        </p>
                    </div>
                    <div class="col">
                        <img src="https://res.cloudinary.com/dykwpv27p/image/upload/v1702474189/kumbalgarh_fort_p9ycmk.jpg"
                            class="img mb-5" />
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
                    <div class="col">
                        <img src="https://res.cloudinary.com/dykwpv27p/image/upload/v1702475442/hindu_temple_woch3c.jpg"
                            class="img mb-5" />
                        <img src="https://res.cloudinary.com/dykwpv27p/image/upload/v1702475474/jain_temple_oe1upp.jpg"
                            class="img" />    
                    </div>
                    <div class="col">
                        <h5>Important Structures inside the Fort</h5>
                        <hr>
                        <p>Aaret Pol was the first entry gate of the fort. Halla Pol is on the downward slope from the entrance. Just after Halla Pol is Badshahi Bavdi, a stepped tank, built after the invasion of Shahbaz Khan in 1578, the general of Mughal emperor Akbar to provide water to the troops. 
                            Hanuman Pol, the next gate is half a KM away from Halla Pol. Hanuman Pol is a double-storeyed gate with octagonal bastions. The gate got its name from the stone image of Hanuman located in front of the gate, which was brought by Maharana Kumbha. 
                            Ram Pol is the main entrance of the fort, there is another entrance towards the east, called Vijay Pol. 
                            There are five more gates between Ram Pol to Badal Mahal, the Palace built on the highest point of the fort. Names of these gates are Bhairon Pol, Nimboo Pol, Chaugan Pol, Pagda Pol and Ganesh Pol. 
                            Most buildings are visible from the Ram Pol, which is considered an architectural specimen.</p><br>
                            <h5>Hindu Temple</h5>
                            <hr>
                            <p> •	Ganesha temple - Situated on the left of the Ram Pol, this temple was built by Maharana Kumbha and the image of Ganesha is enshrined in the sanctum. Standing on a high platform entered through a flight of steps from the south. The sanctum has decorated curvilinear brick sikhar while mandapa and mukhamandapa have a domical ceiling.<br>
                                •	Charbhuja temple - Dedicated to the four-armed goddess, this temple is just on the hill slope on the right side of Ganesha Temple. It is raised over a high platform and enclosed by a wall with an entrance from the east. <br>
                                •	Neel Kanth Mahadeva temple is located on the eastern side of the fort built during 1458 CE. The central shrine of Shiva is approached through a rectangular enclosure and through a structure supported by 24 huge pillars. The idol of Shiva is made of black stone and is depicted with 12 hands. The inscriptions indicate that the temple was renovated by Rana Sanga.<br>
                                •	Mataji temple, also called Kheda Devi temple is located on the southern side of Neela Kanth temple.<br>
                                •	There are 5 Hindu temples in Golera group of temples.<br>
                                •	Mamadeo temple. Cenotaph of Kunwar Prithviraj, elder brother of Rana Sanga is near to this temple.<br>
                                •	Surya Mandir (Sun temple) 
                                </p><br>
                            <h5>Jain Temple</h5> 
                            <hr>
                            <p> •	Parsva Natha temple (built during 1513), Jain temple on the eastern side and Bawan (52) Jain temples<br>
                                •	There are 4 Jain Temples in the Golera group of temples<br>
                                •	2 Jain Temples near Vijay Pol: Juna Bhilwara Temple and Pital Shah Jain temple<br>
                                </p>   
                            </p>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
                    <div class="col">
                        <h5>Places to visit within the fort</h5>
                        <hr>
                        <p>Kumbhalgarh is a historical fort that is known for its massive walls and several palaces, temples, and other structures within. Some of the must-visit places within the fort include:</p>
                        <ul>
                            <li><span style="font-weight: bold;color: #dc3545;">Kumbhalgarh Fort:</span>The main attraction of the fort,
                                 the walls of the fort extend for over 36 kilometers and are considered
                                  to be the second-longest wall after the Great Wall of China.</li>
                            <li><span style="font-weight: bold;color: #dc3545;">Badal Mahal:</span>: A palace located within the fort,
                                 Badal Mahal is known for its intricate carvings and beautiful views of the surrounding Aravalli Range
                            </li>
                            <li><span style="font-weight: bold;color: #dc3545;">Kumbha Palace:</span>: The palace is a beautiful example of Rajput architecture,
                                 known for its grand halls and beautiful courtyards.</li>
                            <li><span style="font-weight: bold;color: #dc3545;">Neelkanth Mahadev Temple:</span>: A temple dedicated to Lord Shiva, 
                                the temple is known for its beautiful sculptures and intricate carvings.</li>
                            <li><span style="font-weight: bold;color: #dc3545;">Light and Sound Show:</span>Kumbhalgarh fort offers a light and sound show, 
                                which highlights the history and culture of Rajasthan and the fort.</li>
                            <li><span style="font-weight: bold;color: #dc3545;">Wildlife Sanctuary:</span>: Kumbhalgarh Wildlife Sanctuary is located in the Aravalli range, 
                                the sanctuary is home to a wide variety of animals such as Leopards, Sloth Bear, Indian Wolf, and many species of birds.</li>
                        </ul>
                        <p>These are some of the most popular places to visit within the fort, but there are many other interesting structures and temples that you can explore as well.</p>
                    </div>
                    <div class="col">
                        <img src="https://res.cloudinary.com/dykwpv27p/image/upload/v1702478534/places_wbotve.jpg"
                            class="img" />
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
                    <div class="col">
                        <img src="https://res.cloudinary.com/dykwpv27p/image/upload/v1702477599/kumbhalgarh-festival_fdvvvp.jpg"
                            class="img" />
                    </div>
                    <div class="col">
                        <h5>Culture</h5>
                        <hr>
                        <p>The Rajasthan Tourism Department organises a three-day annual festival in the fort in remembrance of the passion of Maharana Kumbha towards art and architecture. Sound and light shows are organised with the fort as the background. Various concerts and dance events are also organised to commemorate the function. The other events during the festival are Heritage Fort Walk, turban tying, tug-of war and mehendi mandana among others. 
                            Six forts of Rajasthan, namely, Amber Fort, Chittor Fort, Gagron Fort, Jaisalmer Fort, Kumbhalgarh and Ranthambore Fort were included in the UNESCO World Heritage Site list during the 37th meeting of the World Heritage Committee in Phnom Penh during June 2013. They were recognized as a serial cultural property and examples of Rajput military hill architecture. 
                            This fort (Kumbhalgarh) is previously described as The Fortress of Bowrie, in Rajpootana, as painted by William Westall with an engraving in Fisher's Drawing Room Scrap Book, 1836
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

<!-- Family Gatherings

1.	Family Time: Christmas is a time for families to come together, share meals, and exchange gifts.

2.	Community Events: Many communities organize events, parades, and festivals to celebrate Christmas.
 -->