<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Christmas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<style>
    .navColor {
        color: #dc3545;
    }

    .img {
        height: 100%;
        /* Set the height to 100% */
        width: 100%;
        object-fit: cover;
        /* Ensure the image covers the entire container */
    }

    .col {
        display: flex;
        flex-direction: column;
    }

    .content-container {
        height: 100vh;
        overflow-y: auto;
        box-sizing: border-box;
    }

    hr {
        font-weight: bold;
        color: #dc3545;
    }

    h5,
    h1 {
        color: #dc3545;
    }
</style>

<body background="https://res.cloudinary.com/dhva31opb/image/upload/v1702750142/Handicrafts-of-India_yspfze.jpg">
    <div class="content-container">
        {% include 'head-foot/navbar.html' %}
        <div class="container pt-5">
            <div class="card mt-5 p-5 mb-5">
                <h1 class="pb-5">Medieval Handicrafts</h1>
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <div class="col">
                        <img src="https://res.cloudinary.com/dykwpv27p/image/upload/v1702654963/Pashmina-shawl_types_zh0mrg.jpg"
                            class="img" />
                    </div>
                    <div class="col">
                        <h5>Pashmina Shawls</h5>
                        <hr>
                        <p>The gold in the crown of India, the Pashmina, is a fibre from the goats of the hilly region of Kashmir.
                             The lineages of Kashmir have sustained the art of Pashmina weaving for many generations. 
                             Although weaving began back in the 15th century, art is still prevalent in the region.
                        </p>
                        <h5>History of Pashmina</h5>
                        <p>Dating back to about 3000 BCE, the art of weaving the threads of Pashmina has been a part of the culture of Kashmir Valley. Pashmina has been famous all around the world.
                             Epigraphists have found references of Pashmina in various writings dated from the 3rd century BCE to the 11th century CE.  </p>
                        <h5>Under Kashmiri Monarch</h5>
                        <p>In India, Zain Ul Abidin, the 15th-century king of Kashmir, popularized the Pashmina wool industry.
                            As a prince, he became highly inclined towards the handloom industry and handcraft during his stay in Samarkand.
                            During his reign, Skilled Turkish weavers were brought to the court to disseminate the shawl industry.
                            The Pashmina wool industry also thrived during the Mughal reign as the Mughal rulers were great
                            admirers of art and patronized the art.  

                        </p>
                    </div>
                </div><br>
                <h5>Process of weaving Pashmina</h5>
                <ul>
                    <li><span style="font-weight: bold;color: #dc3545;">Pre-spinning process:</span>The semi-nomadic tribes of the higher altitudes in the Kashmir region rear the special Pashm fibre goats.
                        These goats can live up to temperatures as low as minus 20 degrees. The 12–15micron hair on their body
                         (wool) protects them against these harsh temperatures. These goats are not sheared by combing to avoid
                          breaking of the fibre. The combing requires complete focus, maintaining the length of at least 5 
                          centimetres. They collect most of the wool by combing, dusting, and dehairing during the spring
                           season when the animals naturally shed their undercoat. Finally, rice water wash strengthens 
                           the thumb (the obtained wool is called thumb in Kashmiri).</li>
                    <li><span style="font-weight: bold;color: #dc3545;">Spinning: </span>Next up, followed by the sorting, washing, and carding, the spinning process involves using yonder or charkha, converting the fibre into yarn. Spinning process doesn’t involve machines as the thread is very delicate.
                         The fine wool required doubling, done by hand reeler.
                    </li>
                    <li><span style="font-weight: bold;color: #dc3545;">Weaving:</span>In this stage, the weavers sort the yarn for making a wrap, dyed, and soaked in anima and saresh solutions to prepare hanks of yarn. Then the Tulun process includes wounding the thread on perch (Woodle spindles). The string is winded on rods manually to make the wrap, then go to the Bharangur for wrap-dressing. A wrap usually consists of about 1200 threads. This Bharun process usually takes up to a week, as it involves stretching and fixing each line in the Saaz (heddle of the loom).
                         Washing the cloth in running river water removes the starch from the surface.</li>
                    <li><span style="font-weight: bold;color: #dc3545;">Finishing: </span>In this final stage, the Purzgar plays an important role. A wouch removes the uneven or broken threads from the shawl cloth. Then, the weavers rub the fabric with kasher (maize cob) and gets ready for the final wash, done by striking the material against a hard rock.
                         Finally, Andgour carries out the process of Andkadun to give a final touch. </li>
                </ul>
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
                    <div class="col">
                        <h5>Banarasi brocade</h5>
                        <hr>
                        <p>Banaras (Varanasi), a holy city of Uttar Pradesh, is a centre for brocade and hand-made textiles
                             and saris since ancient times. In Banarasi Saree weaving many types of exclusive weaves are
                              woven on handlooms. These handloom are mounted with different kinds of hand operated dobbies
                               and Jacquards. In this famous weaving the word brocade is derived from the Latin word
                                “brochus“denoting to transfix. The exquisite fabrics, so much appreciated all over the world, 
                                are produced by weaving with warps and weft threads of different colours and often of different
                                 materials. It appears from ancient texts that in early days gold and silver wires were drawn
                                  out to such fineness that they could be woven into fabrics of pure gold and silver. 
                                  Silk was added later to give colour and body to the textile. Now gold or silver wires 
                                  are used as a special weft twisted along with the silk. Generally Banarasi work are
                                   carried out in whole Banaras and nearby villages of this city. Whereas out of whole
                                    city the main areas are focused for Banarasi weaving are like Peeli Kothi, Madanpura,
                                     Saraiya, Bajhadhiya, and Lohta. Currently, there are approximately forty thousand people
                                      engaged in Banarasi weaving including weavers, dealers and dyers. The main product of 
                                      Banarasi handloom weaving is the saree.
                        </p>
                        <h5>Fabric Types</h5>
                        <p>Brocade types fabric can be classified into two types. <br>
                            (1) Loom finish – Loom finished fabrics are saris, odhini, patkas, pankhas, curtains etc. <br>
                            (2) Yardage- Yardage is usually used for dress material, upholstery and curtains.<br>
                            The best known brocade fabrics were kamkhwab  or kinkhab. 
                            Their main centres were Varanasi, Ahmedabad and Surat. 
                            Their splendour, elegance and cost gave them their name, which means,
                             ‘something a person cannot dream of if he has not seen it’ (Kam: little, khwab: dream; kin: golden in Chinese). 
                             Its specialty is the profuse use of gold and silver thread, such that the silk background is barely visible. 
                            It is mainly used for ceremonial robes, hangings and furnishings.

                        </p>
                    </div>
                    <div class="col">
                        <img src="https://res.cloudinary.com/dykwpv27p/image/upload/v1702655281/banarasi_kklvjb.jpg"
                            class="img mb-5" />
                        
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
                    <div class="col">
                        <img src="https://res.cloudinary.com/dykwpv27p/image/upload/v1702655297/kalamkari_c9whux.jpg"
                            class="img" />
                    </div>
                    <div class="col">
                        <h5>Kalamkari Painting</h5>
                        <hr>
                        <p>Kalamkari is a style of hand painting done on cotton or silk fabric with a tamarind pen,
                            using natural dyes. The word Kalamkari is derived from a Persian word where ‘kalam‘ means pen
                            and ‘kari‘ refers to craftsmanship. This art involves 23 tedious steps of dyeing, bleaching, 
                            hand painting, block printing, starching, cleaning and more. Motifs drawn in Kalamkari spans
                            from flowers, peacock, paisleys to divine characters of Hindu epics like Mahabharata and Ramayana. 
                            Nowadays, this art is primarily done to create Kalamkari sarees.
                        </p>
                        <h5>History</h5>
                        <p>Centuries ago, folk singers and painters used to wander from one village to other,
                             narrating stories of Hindu mythology to the village people. But with course of time, 
                             the process of telling tales transformed into canvas painting and that’s when Kalamkari
                              art first saw the light of day. This colorful art dates back to more than 3000 B.C.
                               According to the historians, fabric samples depicting Kalamkari art was found at
                                the archeological sites of Mohenjo-daro.</p>
                    </div>
                </div><br>
                <h5>The making</h5>
                <p>The process of making Kalamkari involves 23 steps. From natural process of bleaching the fabric, softening it, sun drying, preparing natural dyes, hand painting, to the processes of air drying and washing, the entire procedure is a process which requires precision and an eye for detailing.

                    Cotton fabric used for Kalamkari is first treated with a solution of cow dung and bleach. After keeping the fabric in this solution for hours, the fabric gets a uniform off-white color. After this, the cotton fabric is immersed in a mixture of buffalo milk and Myrobalans. This avoids smudging of dyes in the fabric when it is painted with natural dyes. Later, the fabric is washed under running water to get rid of the odor of buffalo milk.  The fabric likewise, is washed twenty times and dried under the sun. Once the fabric is ready for painting, artists sketch motifs and designs on the fabric. Post this, the Kalamkari artists prepare dyes using natural sources to fill colors within the drawings.
                    
                    Incorporating minute details, the Kalamkars use ‘tamarind twig’ as pen, to sketch beautiful motifs of Krishna Raas-Leela, Indian god and goddesses like Parvati, Vishnu, Shri Jaganath; designs of peacock, lotus; and scenes from the Hindu epics like Mahabharata and Ramayana.</p>
                <h5>Colors of Kalamkari</h5>
                <p>Kalamkari art primarily use earthy colors like indigo, mustard, rust, black and green. Natural dyes used to paint colors in Kalamkari art is extracted for natural sources with no use of chemicals and artificial  matter. For instance, craftsmen extract black color by blending jaggery, water and iron fillings which  they essentially use for outlining the sketches. While mustard or yellow is derived by boiling pomegranate peels, red hues are created from bark of madder or algirin. Likewise, blue is obtained from indigo and green is derived by mixing yellow and blue together.</p>
                <h5>Types of Kalamkari</h5>
                <p>There are two identifiable styles of Kalamkari art in India – Srikalahasti style and Machilipatnam style. In the Machilipatnam style of Kalamkari, motifs are essentially printed with hand-carved traditional blocks with intricate detailing painted by hands. On the other hand, Srikalahasti style of painting draws inspiration from the Hindu mythology describing scenes from the epics and folklore. This style holds a strong religious connect because of its origin in the temples.
                    In recent times, two other types of Kalamkari patterns have also emerged, based on the states where it is created. Gujarat and Andhra Pradesh are two prime states in India, where two different types of Kalamkari patterns are done. The Andhra Kalamkari borrows design inspiration from forts, palaces and temples of India, along with motifs of animals and birds. While the Gujarat Kalamkari depict motifs of mythological characters like Krishna-Arjuna from Mahabharata, lord Krishna, lord Ganesha, lord Buddha etc.</p>
            </div>
        </div>
    </div>
</body>

</html>

<!-- Family Gatherings

1.	Family Time: Christmas is a time for families to come together, share meals, and exchange gifts.

2.	Community Events: Many communities organize events, parades, and festivals to celebrate Christmas.
 -->