<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Christmas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<style>
    .navColor {
        color: #dc3545;
    }

    .img {
        height: 100%;
        /* Set the height to 100% */
        width: 100%;
        object-fit: cover;
        /* Ensure the image covers the entire container */
    }

    .col {
        display: flex;
        flex-direction: column;
    }

    .content-container {
        height: 100vh;
        overflow-y: auto;
        box-sizing: border-box;
    }

    hr {
        font-weight: bold;
        color: #dc3545;
    }

    h5,
    h1 {
        color: #dc3545;
    }
</style>

<body background="https://res.cloudinary.com/dhva31opb/image/upload/v1702750041/perfo_lppeol.webp">
    <div class="content-container">
        {% include 'head-foot/navbar.html' %}
        <div class="container pt-5">
            <div class="card mt-5 p-5 mb-5">
                <h1 class="pb-5">Medieval Performing Arts</h1>
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <div class="col">
                        <img src="https://res.cloudinary.com/dykwpv27p/image/upload/v1702654488/kathak2_gnyubi.jpg"
                            class="img" />
                    </div>
                    <div class="col">
                        <h5>Kathak</h5>
                        <hr>
                        <p>Kathak is one of the eight major forms of Indian classical dance.
                           The term Kathak is derived from the Sanskrit word Katha which means "story",
                           and Kathakar which means "the one who tells a story", or "to do with stories".<br>
                           The term Kathakas in the sense of "storytellers" appears in ancient Hindu texts, such as the Mahabharata:<br>
                           <br>वेदवेदाङ्गविद्वांसस्तथैवाध्यात्मचिन्तकाः |<br>
                           चौक्षाश्च भगवद्भक्ताः सूताः पौराणिकाश्च ये ||२||<br>
                           कथकाश्चापरे राजञ्श्रमणाश्च वनौकसः |<br>
                           दिव्याख्यानानि ये चापि पठन्ति मधुरं द्विजाः ||३||<br>
                           Followed by the scholars of the Vedas and Vedangas, and by those who ponder on their soul,<br>
                           by persons skilled in music, by the devotees of Bhagavata, (...)<br>
                           by Kathakas (reciters of the sacred lore), by dwellers of forests, (...)<br>
                           by those who sweetly recite celestial histories.<br>
                           — Adi Parva CCVI.2-3, Mahabharat, Book 1<br>

                        </p>
                    </div>
                </div><br>
                <h5>Gharanas of Kathak Dance</h5>
                <p>Broadly, there are three gharanas or schools of Kathak. The Banaras, Lucknow and Jaipur gharanas.
                     The Jaipur gharana evolved from the courts of the Rajput kings and pays more attention to footwork. 
                     The Lucknow and Banaras gharana focus on hand movements and facial expressions more. 
                     The eyes and eyebrows too are important elements in the facial expressions and thus the core
                      emphasis is on acting in the case of the Lucknow and Banaras gharanas. Whereas,
                       for the Jaipur gharana the emphasis is on the unfaltering footwork.</p>
                <h5>The Kathak Dance Forms</h5>
                <p>Each classical dance has its own distinctive format and training. Kathak dancing essentially comprises three parts – Nritta, Natya and Nritya.

                    Nritta is pure dance, Natya is the incorporation of drama and storytelling, whereas, Nritya is the use of facial expressions. Because the entire dance act is the coming together of all these three parts, it not captures attention but is also close to spirituality. It has an aura and power that keeps the audience in a trance-like emotion.
                    
                    Also, there is a proper sequence of a Kathak performance. Below is a basic layout and format of how a Kathak dance act usually unfolds.
                    
                    The dance begins with the dramatic entry of the dancer. This is called Amad where the focus is on the introduction of the dancer. Next what follows is known as Thaat, or the section where slow and elegant dance movements set the tone and start of the actual dance. The Tora, Tukra and Paran are the real dancing segments of the act. Here the dancer is in full flow, expressing with their face and eyes and coordinating their leg and hand movements to perfection. The story or katha is all woven and told with the help of dance moves. Parhant is the pen-ultimate segment of the act where again the tempo and speed slow down a bit. The rhythm is soft and delicate. This is followed by the last part of the dance act, called Tatkar. Tatkar is the gorgeous movement of footwork that the dancer performs with precision and sets the stage to end the dance act on a high crescendo to the beat of the rhythm and the ghungroos.
                    
                    The Kathak act can be performed by a single dancer or a group of dancers. Sometimes, some dancers may use the microphone to interact with the audience too while the dance act is in progress.</p>
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
                    <div class="col">
                        <h5>Sufi Music</h5>
                        <hr>
                        <p>In the medieval period the Sufi and Bhakti saints encouraged music. Qawwalis
                            were sung in Sufi khanqahs and devotional music like kirtan and bhajan became popular
                            with the Bhakti saints.
                        </p>
                        <p>The best way to describe Sufi music is to call it soulful.
                             Though there are several genres of music in the world, Sufism holds a special place.
                              Almost transcendental it connects one to the divine and mystical. 
                              Sufi music in India thrives mostly in the form of qawwalis.

                        </p>
                        <h5>Qawwalis</h5>
                        <p>But it is qawwali that steals most of the show when it comes to Sufi musicals in India. Not just India, but Pakistan has also been the home ground of gifted Sufi artists who have transcended borders to bridge gaps with musical outpourings. 

                            Amir Khushrow is known to have created the qawwali and this Sufi art form can be dated back to almost 700 years now. Qawwali may have also originated from the time of Khwaja Mohinuddin Chisti Ajmeri. Hazrat Nizamuddin Auliya who was from the Chisti school used Sufi music as a medium to invoke his followers and large gatherings. Amir Khushrow was his follower who further popularised and combined various elements of lyrics and compositions from Persia, Turkey and India to evolve the qawwali. Qawwali traditionally is performed at the shrines of Sufi saints in Delhi, Ajmer and other towns of India and Pakistan. 
                            
                            Qawwali comes from the Arabic term ‘ qaul’, meaning ‘utterance’. This qaul is an utterance for the spiritual realm as singers emotionally give it their all. Qawwali is performed by several qawwals together. There is a main singer in the group and the musical instruments used include the harmonium and other Indian percussion instruments. </p>
                    </div>
                    <div class="col">
                        <img src="https://res.cloudinary.com/dykwpv27p/image/upload/v1702654572/sufi_music_pruj84.jpg"
                            class="img mb-5" />
                        
                    </div>
                </div>
                
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
                    <div class="col">
                        <img src="https://res.cloudinary.com/dykwpv27p/image/upload/v1702654562/ramlila_jg2pag.jpg"
                            class="img" />
                    </div>
                    <div class="col">
                        <h5>Ramlila Performances</h5>
                        <hr>
                        <p>The tradition of Ramlila, dramatic enactments of the Ramayana, became a prominent performing art during festivals.
                            Ramlila, literally “Rama’s play”, is a performance of then Ramayana epic in a series of scenes that include song,
                            narration, recital and dialogue. It is performed across northern India during the festival of Dussehra,
                            held each year according to the ritual calendar in autumn. The most representative Ramlilas are those
                            of Ayodhya, Ramnagar and Benares, Vrindavan, Almora, Sattna and Madhubani. This staging of the Ramayana 
                            is based on the Ramacharitmanas, one of the most popular storytelling forms in the north of the country.
                            This sacred text devoted to the glory of Rama, the hero of the Ramayana, was composed by Tulsidas 
                            in the sixteenth century in Hindustani in order to make the Sanskrit epic available to all.
                            The majority of the Ramlilas recount episodes from the Ramacharitmanas through a series of
                            performances lasting ten to twelve days, but some, such as Ramnagar’s, often last an entire month. 
                            Festivals are organized in hundreds of settlements, towns and villages during the Dussehra festival 
                            season celebrating Rama’s return from exile. Ramlila recalls the battle between Rama and Ravana 
                            and consists of a series of dialogues between gods, sages and the faithful. Ramlila’s dramatic
                            force stems from the succession of icons representing the climax of each scene. The audience is
                            invited to sing and take part in the narration.The Ramlila brings the whole population together,
                            without distinction of caste, religion or age. All the villagers participate spontaneously,
                            playing roles or taking part in a variety of related activities, such as mask and costume making,
                            preparing make-up, effigies and lights. However, the development of mass media, particularly 
                            television soap operas, is leading to a reduction in the audience of the Ramlilas, which are
                            therefore losing their principal role of bringing people and communities together.
                        </p>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
                    <div class="col">
                        <h5>Kuchipudi</h5>
                        <hr>
                        <p>Kuchipudi, a pre-eminent Indian classical dance form counted among ten leading 
                            classical dance forms of India, is a dance-drama performance art that originated 
                            in a village of Krishna district of Andhra Pradesh, India. Similar to all leading 
                            Indian classical dance forms, Kuchipudi too evolved as a religious art rooting
                            back to the age-old Hindu Sanskrit text ‘Natya Shastra’ and connects traditionally 
                            with temples, spiritual faiths and travelling bards. This ancient dance form finds
                            place in the 10th century copper inscriptions and in 15th century texts like
                            ‘Machupalli Kaifat’. Traditionally it is regarded that the sanyassin of Advaita 
                            Vedanta sect, Tirtha Narayana Yati, and his disciple Siddhendra Yogi initiated,
                            methodized and arranged the present day version of the dance form in 17th century.
                            Usually performance repertoire of Kuchipudi that is broadly oriented on Lord Krishna 
                            and the tradition of Vaishnavism include an invocation, dharavu – short dance,
                            nritta – pure dance and nritya – expressive dance respectively.</p>
                        
                    </div>
                    <div class="col">
                        <img src="https://res.cloudinary.com/dykwpv27p/image/upload/v1702654796/kuchipudi2_g7ewjh.jpg"
                            class="img" />
                    </div>
                </div><br>
                <h5>Repertoire</h5>
                <p>The repertoire of Kuchipudi follows three performance categories namely ‘Nritta’ (Nirutham), ‘Nritya’ (Niruthiyam) and ‘Natya’ (Natyam) mentioned in ‘Natya Shastra’ and followed by all major Indian classical dance forms. ‘Nritta’ is a technical performance where the dancer presents pure dance movements giving stress on speed, form, pattern, range and rhythmic aspects without any form of enactment or interpretive aspects. In ‘Nritya’ the dancer-actor communicates a story, spiritual themes particularly on Lord Krishna through expressive gestures and slower body movements harmonised with musical notes thus engrossing the audience with the emotions and themes of the act. ‘Natyam’ is usually performed by a group or in some cases by a solo dancer who maintains certain body movements for specific characters of the play which is communicated through dance-acting.</p>
                <h5>Costumes</h5>
                <p>While a male character wears dhoti, a female character wears a colourful sari that is stitched
                     with a pleated cloth which opens like a hand fan when the dancer stretches or bends her legs
                      while portraying spectacular footwork. Make-up is generally light complimented with traditional 
                      jewellery of the region which adorns her hair, nose, ear, arms and neck. A light metallic waist
                       belt made of gold or brass adorns her waist while a leather anklet with small metallic bells
                        called ghunghroo is wrapped on her ankles that produce rhythmic sounds while she performs
                         brilliant footwork. Her hair is neatly braided and often beautified with flowers or done 
                         in tribhuvana style that depicts the three worlds. Her eye expressions are highlighted by
                          outlining them with black collyrium. Sometimes special costumes and props are used for
                           particular characters and plays, for example a peacock feathered crown adorns the dancer playing Lord Krishna.</p>
                <h5>Instruments & Music</h5>
                <p>The ensemble of a Kuchipudi performance includes a Sutradhara or Nattuvanar who is the conductor of 
                    the entire performance. He recites the musical syllables and uses cymbals to produce rhythmic beat. 
                    The story or spiritual message is sung either by the conductor or another vocalist or sometimes 
                    by the actor-dancers. The musical instruments usually include cymbals, mridangam, tambura, veena and flute.  </p>
                
            </div>
        </div>
    </div>
</body>

</html>

<!-- Family Gatherings

1.	Family Time: Christmas is a time for families to come together, share meals, and exchange gifts.

2.	Community Events: Many communities organize events, parades, and festivals to celebrate Christmas.
 -->