<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modern Physical Sports</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<style>
    .navColor {
        color: #dc3545;
    }

    .img {
        height: 100%;
        /* Set the height to 100% */
        width: 100%;
        object-fit: cover;
        /* Ensure the image covers the entire container */
    }

    .col {
        display: flex;
        flex-direction: column;
    }

    .content-container {
        height: 100vh;
        overflow-y: auto;
        box-sizing: border-box;
    }

    hr {
        font-weight: bold;
        color: #dc3545;
    }

    h5,
    h1 {
        color: #dc3545;
    }
</style>

<body background="https://res.cloudinary.com/dhva31opb/image/upload/v1702622076/cricketttt_oyp4o1.jpg">
    <div class="content-container">
        {% include 'head-foot/navbar.html' %}
        <div class="container pt-5">
            <div class="card mt-5 p-5 mb-5">
                <h1 class="pb-5">Modern Physical Sports</h1>
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <div class="col">

                        <img src="https://res.cloudinary.com/dhva31opb/image/upload/v1702621372/cricket_pitchhhh_hmxb3l.jpg"
                            class="img" /><br>
                        <img src="https://res.cloudinary.com/dhva31opb/image/upload/v1702621373/cricketreligion_w8hgcl.jpg"
                            class="img" />
                    </div>
                    <div class="col">
                        <h5>Cricket</h5>
                        <hr>
                        <p>Cricket is the most popular sport in India, capturing the nation's passion. The Indian
                            Premier League (IPL) has gained immense popularity, featuring international and domestic
                            cricket stars.


                        </p>
                        <ul>
                            <h5>Origins and Early Mention</h5>
                            <li>
                                <p>Cricket has deep roots in India, dating back to colonial era.

                                </p>

                            </li>

                            <li>The sport gained popularity during British rule, and its mention can be found in
                                historical texts.

                            </li>


                            </p>
                            <h5>Evolution and International Success</h5>
                            <li>
                                <p>Cricket has evolved into a cultural phenomenon in India, with a massive fan base.
                                </p>

                            </li>

                            <li>
                                <p>The Indian cricket team, governed by the Board of Control for Cricket in India
                                    (BCCI), has achieved significant success globally.</p>



                            </li>


                            <h5>Legendary Players</h5>
                            <li>
                                <p>Icons like Sachin Tendulkar, Sunil Gavaskar, Kapil Dev, and Rahul Dravid have left an
                                    indelible mark on Indian cricket, Their contributions have shaped the country's
                                    cricketing legacy.</p>

                            </li>

                            <h5>Modern Era and T20 Revolution</h5>
                            <li>
                                <p>
                                    The introduction of the Indian Premier League (IPL) in 2008 revolutionized the
                                    sport.

                                </p>
                            </li>
                            <li>
                                <p>
                                    IPL's Twenty20 format attracted global attention and showcased Indian talent
                                    alongside international stars.
                                </p>
                            </li>
                            <h5>Women's Cricket</h5>
                            <li>
                                <p>Women's cricket in India has gained prominence, with players like Mithali Raj making
                                    significant contributions.</p>
                            </li>
                            <h5>Cricket Infrastructure and Domestic Leagues

                            </h5>

                            <li>
                                <p>India boasts a robust domestic structure with tournaments like the Ranji Trophy.



                                </p>
                            </li>
                            <li>
                                <p>Domestic leagues, especially the IPL, provide a platform for young talents to
                                    showcase their skills.

                                </p>
                            </li>







                        </ul>
                        <p>In summary, cricket in India goes beyond a sport; it is a cultural tradition that has
                            evolved, embraced challenges, and left an indelible mark on the global cricketing landscape.
                            The rich legacy, iconic players, and passionate fan base ensure that the spirit of cricket
                            remains deeply embedded in the fabric of Indian society.





                        </p>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
                    <div class="col">
                        <h5>Hockey</h5>
                        <hr>

                        <ul>
                            <h5>Historical Dominance</h5>
                            <li>
                                <p>India has a storied history in field hockey, particularly during the early to
                                    mid-20th century.</p>

                            </li>




                            <li>
                                <p>The Indian men's hockey team was a dominant force in international competitions,
                                    winning multiple Olympic gold medals.</p>


                            </li>




                            </p>
                            <h5>Olympic Success</h5>
                            <li>

                                <p>India's golden era in Olympic hockey included six consecutive gold medals from 1928
                                    to 1956.

                                </p>
                            </li>


                            <li>
                                <p>Legendary players like Dhyan Chand became synonymous with Indian hockey's success
                                    during this period.</p>
                            </li>


                            </p>
                            <h5>Modern Resurgence</h5>
                            <li>
                                <p>In recent years, there has been a resurgence in Indian hockey, with a renewed focus
                                    on development and performance.</p>
                            </li>

                            <li>
                                <p>The men's and women's teams have shown improvement, competing at the Olympic and
                                    other international levels.

                                </p>

                            </li>

                            <h5>Women's Hockey Progress</h5>
                            <li>
                                <p>The Indian women's hockey team has made significant strides, participating in
                                    international competitions and Olympic Games,
                                    the women's team's success has inspired a new generation of players and fans.

                                </p>
                            </li>
                            <h5>Global Tournaments and Competitions</h5>
                            <li>
                                <p>India continues to participate in major international tournaments, including the
                                    Hockey World Cup, FIH Hockey Pro League, and Olympic Games.

                                </p>
                            </li>
                            <li>
                                <p>Success in these competitions is crucial for sustaining and enhancing India's
                                    reputation in world hockey.

                                </p>
                            </li>



                            <h5>Fan Support and Cultural Significance</h5>
                            <li>
                                <p>Hockey holds cultural significance in India, and passionate fan support continues to
                                    be a driving force.</p>
                            </li>
                            <li>
                                <p>Success on the international stage has the potential to further elevate the sport's
                                    popularity and inspire future generations.</p>
                            </li>







                        </ul>
                        <p>In summary, Indian hockey boasts a glorious legacy, and while facing challenges, it is on a
                            journey of resurgence. The sport's cultural significance, combined with modern strategies
                            and international exposure, positions Indian hockey for a promising future on the global
                            stage.</p>
                    </div>
                    <div class="col">


                        <img src="https://res.cloudinary.com/dhva31opb/image/upload/v1702623775/hockiee_yfo0ym.webp"
                            class="img" />
                        <br>
                        <img src="https://res.cloudinary.com/dhva31opb/image/upload/v1702623771/hockeyyy_yqla9a.jpg"
                            class="img" />

                    </div>
                </div>


            </div>
        </div>
    </div>
    </div>
</body>

</html>
<!-- Family Gatherings

1.	Family Time: Christmas is a time for families to come together, share meals, and exchange gifts.

2.	Community Events: Many communities organize events, parades, and festivals to celebrate Christmas.
 -->