<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mysore Dasara</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<style>
    .navColor {
        color: #dc3545;
    }

    .img {
        height: 100%;
        /* Set the height to 100% */
        width: 100%;
        object-fit: cover;
        /* Ensure the image covers the entire container */
    }

    .col {
        display: flex;
        flex-direction: column;
    }

    .content-container {
        height: 100vh;
        overflow-y: auto;
        box-sizing: border-box;
    }

    hr {
        font-weight: bold;
        color: #dc3545;
    }

    h5,h6,h1 {
        color: #dc3545;
    }
</style>

<body background="https://res.cloudinary.com/dhva31opb/image/upload/v1702474326/mysoredasara1_k0rpqr.jpg">
    <div class="content-container">
        {% include 'head-foot/navbar.html' %}
        <div class="container pt-5">
            <div class="card mt-5 p-5 mb-5">
                <h1 class="pb-5">Mysore Dasara</h1>
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <div class="col">
                        <img src="https://res.cloudinary.com/dhva31opb/image/upload/v1702474334/mysoredasara2_rsof3k.jpg"
                            class="img" />
                    </div>
                    <div class="col">
                        <h5>Introduction</h5>
                        <hr>
                        <p>Mysore Dasara is the Nadahabba (state festival) of the state of Karnataka in India. It is a 10-day festival, starting with nine nights called Navaratri and the last day being Vijayadashami. The festival is observed on the tenth day in the Hindu calendar month of Ashvina, which typically falls in the Gregorian months of September and October. The celebration of the festival is steered by the erstwhile Royal Family of Mysore. The 10-day festivities concluded with the 'Jamboo Savari' procession which marks the culmination of the Mysore Dasara on the day of Vijayadashami.
                            Mysore Dasara, also known as Navaratri or Dussehra, has a rich history dating back centuries. The festival has its roots in the Vijayanagara Empire, where it was celebrated with grandeur. However, the modern Mysore Dasara owes much of its grandeur to the Wodeyar dynasty, particularly to King Raja Wodeyar I.
                            During the 17th century, the Wodeyar kings ascended the throne of Mysore, and the Dasara celebration gained prominence. The tradition of celebrating Dasara in Mysore was revived by Raja Wodeyar I in 1610. Over the years, the festival evolved into a royal celebration marked by elaborate processions, cultural events, and religious rituals.
                            
                            
                            </p>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
                    <div class="col">
                        <h5>Origin</h5>
                        <hr>
                        <p>The origin of Dasara can be traced back to the ancient Indian epic, the Ramayana. The festival is said to commemorate the victory of Lord Rama over the demon king Ravana, symbolizing the triumph of good over evil. The celebration of Dasara spans nine nights, during which different forms of the goddess Durga are worshipped.
                            In the context of Mysore Dasara, it is closely associated with the establishment of the Mysore Kingdom. The Wodeyar kings, following the tradition of Vijayanagara rulers, continued the celebration with great enthusiasm and grandeur.
                            </p>
                    </div>
                    <div class="col">
                        <img src="https://res.cloudinary.com/dhva31opb/image/upload/v1702474590/dasara3_be8rfg.png"
                            class="img" />
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
                    <div class="col">
                        <img src="https://res.cloudinary.com/dhva31opb/image/upload/v1702475373/kusamanda_wlf2cb.jpg"
                            class="img" />
                            <h6 style="text-align: center;">Kushmanda</h6>
                            
                            <img src="https://res.cloudinary.com/dhva31opb/image/upload/v1702475360/siddhudhatri_npmvlj.jpg"
                            class="img mt-5" />
                            <h6 style="text-align: center;">Siddhidhatri</h6>
                            
                    </div>
                    <div class="col">
                        <h5>Celebrations</h5>
                        <hr>
                        <h6>Nine forms of Durga </h6>
                        <p>Navaratri, also known as Durga Puja or Dasara, is a Hindu festival that spans nine nights and is dedicated to the worship of the goddess Durga in her various forms. Each day of Navaratri is associated with a specific form of the goddess, and these forms are known as the Navadurga or the Nine Forms of Durga. Here are the Navadurga forms worshipped during Navaratri:

                            </p>
                        <ol>
                            <li>
                                <h6>Shailaputri - </h6>
                                <p> The first day is dedicated to Shailaputri, who is the daughter of the Himalayas. She is also known as Parvati or Hemavati and is often depicted riding a bull.</p>

                            </li>
                            <li>
                                <h6>Brahmacharini - </h6>
                                <p> On the second day, Brahmacharini, a form of Parvati, is worshipped. She is associated with penance and asceticism, holding a rosary and a water utensil.
                                </p>

                            </li>
                            <li>
                                <h6>Chandraghanta - </h6>
                                <p> The third day is dedicated to Chandraghanta, who is depicted with a crescent moon on her forehead. She rides a tiger and has ten arms, each carrying different weapons.
                                </p>

                            </li>
                            <li>
                                <h6>Kushmanda - </h6>
                                <p>The fourth day is dedicated to Kushmanda, the creator of the universe. She is often depicted with eight or ten arms, holding various weapons.

                                </p>

                            </li>
                            <li>
                                <h6>Skandamata - </h6>
                                <p>Skandamata, the mother of Kartikeya (Skanda), is worshipped on the fifth day. She holds her son in one hand and a lotus in the other.

                                </p>

                            </li>
                            <li>
                                <h6>Katyayani - </h6>
                                <p>The sixth day is dedicated to Katyayani, who is associated with fierce energy. She is often depicted riding a lion and wielding various weapons.

                                </p>

                            </li>
                            <li>
                                <h6>Kaalratri - </h6>
                                <p>On the seventh day, Kaalratri, a fierce form of Durga, is worshipped. She is depicted with a dark complexion, disheveled hair, and a fearless posture.

                                </p>

                            </li>
                            <li>
                                <h6>Mahagauri - </h6>
                                <p>The eighth day is dedicated to Mahagauri, who is believed to have a fair complexion. She is associated with peace and intelligence.

                                </p>

                            </li>
                            <li>
                                <h6>Siddhidhatri - </h6>
                                <p>The ninth day is dedicated to Siddhidhatri, who is worshipped as the bestower of Siddhis (supernatural powers). She is often depicted with four arms and is seated on a lotus.

                                </p>

                            </li>
                            
                        </ol>
                        <p>The ninth day of Dasara is called Mahanavami, which is believed to be very auspicious and, on this day, special worship for the royal sword is carried out that is taken on a procession with elephants, royal horses and camels.
                            On Vijayadashami, the 10th day of Navratri, the Jamboo Savari or the procession is taken in the city’s streets, in which thousands of people gather to witness the same. The important part of this procession is the idol of Goddess Chamundeshwari, which is worshipped by the royal couple, and then placed in a golden howdah over an elephant.
                            Devotees observe fasts, perform rituals, and participate in various cultural activities during Navaratri to seek the blessings of the goddess for prosperity, wisdom, and well-being. The festival is celebrated with great enthusiasm and devotion across different regions of India.
                            Many dance groups, illustrations, vibrant paintings, music troupes, decorated elephants, and horses are part of the procession which is a sight to behold. While the procession starts from the royal palace, it stops at Bannimantap, where the ‘Banni’ tree is worshipped.
                            Then, on the evening of the Vijayadashami, an event takes place at Bannimantap, known as Panjina Kavayithu or the torch-light parade, which also includes some stunts and dare-devil acts by trained and respected men of the Indian Army.
                            </p>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
                    <div class="col">
                        <h5>Events and Exhibitions</h5>
                        <hr>
                        <p>Apart from the processions at the end of Mysuru Dasara, several other events also take place during the 10 days. The Dasara Exhibition is a major attraction during the festivities. It features a variety of stalls, showcasing arts, crafts, and products from different regions. These events are unique and have been luring visitors from across the world for decades</p>
                        <ul>
                            <li>
                                <h6>Mysore Palace Illumination - </h6>
                                <p> The main attraction of the ten-day Mysore Dasara festival is the Mysore Palace which is lighted daily with nearly 100,000 light bulbs from 7 pm to 10 pm on all days of the festival. Various cultural and religious programs highlighting the dance, music and culture of the State of Karnataka are performed in front of the illuminated Palace. The grandeur of the palace, illuminated against the night sky, is a breathtaking sight and attracts tourists and locals alike.
                                </p>

                            </li>
                            <li>
                                <h6>Food Festival - </h6>
                                <p>A food festival is often organized, featuring a wide array of traditional and modern delicacies. Visitors can indulge in local Karnataka cuisine and experience the diverse culinary traditions of the region.
                                
                                </p>
                            </li>
                            <li>
                                <h6>Film Festival - </h6>
                                <p>The Mysore Dasara Film Festival is organized to celebrate the cultural significance of cinema. It includes screenings of films from various genres, including regional and international cinema.

                                
                                </p>
                            </li>
                            <li>
                                <h6>Cultural Programs - </h6>
                                <p>Throughout the festival, Mysore hosts a series of cultural events, including classical music and dance performances, traditional folk dances, and art exhibitions. Renowned artists and performers participate in these cultural programs.

                                
                                </p>
                            </li>
                            <li>
                                <h6>Art and Craft Exhibitions - </h6>
                                <p>Various art and craft exhibitions are organized, showcasing the talents of local artisans. Visitors have the opportunity to explore and purchase handmade crafts, textiles, and traditional artifacts.

                                
                                </p>
                            </li>
                            <li>
                                <h6>Dasara Doll Festival (Gombe Habba) - 
                                </h6>
                                <p>
                                    Families set up displays of dolls and figurines, depicting mythological and cultural themes, as part of the Dasara Doll Festival. This tradition is especially popular in households during Navaratri.

                                </p>
                            </li>

                    </div>
                    <div class="col">
                        <img src="https://res.cloudinary.com/dhva31opb/image/upload/v1702476271/illuminate_b28yxb.jpg"
                        class="img mb-5" />
                        <img src="https://res.cloudinary.com/dhva31opb/image/upload/v1702476262/Gombe-Habba_qafbm3.jpg"
                            class="img mb-5">
                    </div>
                </div>
                
                </div>
            </div>
        </div>
    </div>
</body>

</html>