<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Sundarbans National Park</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<style>
    .navColor {
        color: #dc3545;
    }

    .img {
        height: 100%;
        /* Set the height to 100% */
        width: 100%;
        object-fit: cover;
        /* Ensure the image covers the entire container */
    }

    .col {
        display: flex;
        flex-direction: column;
    }

    .content-container {
        height: 100vh;
        overflow-y: auto;
        box-sizing: border-box;
    }

    hr {
        font-weight: bold;
        color: #dc3545;
    }

    h5,
    h1 {
        color: #dc3545;
    }
</style>

<body background="https://res.cloudinary.com/doqr54zki/image/upload/v1702487702/img1_yyx6nk.jpg">
    <div class="content-container">
        {% include 'head-foot/navbar.html' %}
        <div class="container pt-5">
            <div class="card mt-5 p-5 mb-5">
                <h1 class="pb-5">Sundarbans National Park</h1>
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <div class="col">
                        <img src="https://res.cloudinary.com/doqr54zki/image/upload/v1702491447/Sundarbans-national-park_ubri0d.jpg"
                            class="img" />
                    </div>
                    <div class="col">
                        <h5>Introduction</h5>
                        <hr>
                        <p>The Sundarbans National Park, situated in West Bengal, India, is a unique ecosystem forming part of the Sundarbans on the Ganges Delta, adjacent to the Sundarban Reserve Forest in Bangladesh. Declared a national park in 1984, it is a vital tiger reserve and biosphere reserve, renowned for its dense mangrove forests and being one of the largest habitats for Bengal tigers. The park, inscribed as a UNESCO World Heritage Site in 1987, houses diverse wildlife, including bird, reptile, and invertebrate species, alongside the iconic Bengal tiger. Its rich biodiversity led to its designation as a Ramsar site in 2019 and recognition in the World Network of Biosphere Reserves since 1989.<br><br>
                            Established forest management divisions in 1869 marked the beginning of efforts to oversee the Sundarbans. By 1875, a significant portion of the mangrove forests was declared reserved forests, later fully designated as a reserve forest in 1876. The Forest Department assumed control, and in 1879, a forest division with headquarters in Khulna, Bangladesh, was created. The Sundarbans, described as an unexamined waste country in 1911, stretched across the delta, intersected by river channels and creeks, forming a water-logged jungle teeming with wildlife. Today, it remains a critical ecological treasure with global recognition and protection.
                        </p>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
                    <div class="col">
                        <h5>Flora</h5>
                        <hr>
                        <p>The Sundarbans National Park is characterized by a unique and diverse flora, adapted to its brackish water environment and tidal nature. The flora of the Sundarbans can be broadly categorized into mangrove species, aquatic plants, and terrestrial vegetation. Here are some key elements of the flora in the Sundarbans
                        </p>
                            <ul>
                                 <li><span style="font-weight: bold;color: #dc3545">Mangrove Species</span></li>
                                    <ul>
                                        <li><span style="font-weight: bold;color: #dc3545">Sundari (Heritiera fomes): </span> The park derives its name from this dominant mangrove species, which is not only economically important but also ecologically significant.<br></li>
                                           <li><span style="font-weight: bold;color: #dc3545">Baen (Avicennia spp.):</span> This salt-excreting plant is well-adapted to saline conditions and forms dense stands in the intertidal zones.
                                        </li>

                                    </ul><br>
                                    <li><span style="font-weight: bold;color: #dc3545">Aquatic Plants:</span></li>
                                    <ul>
                                        <li><span style="font-weight: bold;color: #dc3545">Water Hyacinth (Eichhornia crassipes):</span> Found in water bodies, this invasive aquatic plant can create dense floating mats.
                                        </li>
                                        <li><span  style="font-weight: bold;color: #dc3545">Water Lilies:</span> Various species of water lilies add to the aquatic biodiversity.
                                        </li>
                                    </ul><br>
                                    <li><span style="font-weight: bold;color: #dc3545">Terrestrial Vegetation:</span></li>
                                    <ul>
                                        <li><span style="font-weight: bold;color: #dc3545">Grasses and Reeds:</span> Various grasses and reeds contribute to the terrestrial vegetation.
                                        </li>
                                        <li><span  style="font-weight: bold;color: #dc3545"> Climbers and Epiphytes: </span>Some areas host climbing plants and epiphytes that add to the overall greenery.
                                        </li>
                                    </ul><br>
                                    <li><span style="font-weight: bold;color: #dc3545"></span>Exotic Species:</li>
                                    <ul>
                                        <li><span style="font-weight: bold;color: #dc3545">Exotic Flora: </span>Invasive species like the Prosopis juliflora have been reported in parts of the Sundarbans, affecting the native vegetation</li>
                                        
                                </ul>
                    </div>
                    <div class="col">
                        <img src="https://res.cloudinary.com/doqr54zki/image/upload/v1702493628/sundarban_ecosystem_g1cabr.jpg"
                            class="img mb-5" />
                        <img src="https://res.cloudinary.com/doqr54zki/image/upload/v1702493717/5605581224_40c4b286b8_b_lz8df1.jpg"
                            class="img" />
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
                    <div class="col">
                        <img src="https://res.cloudinary.com/doqr54zki/image/upload/v1702493801/white-bengal-tigers-768x504-1_zpinnq.jpg"
                            class="img" />
                    </div> 
                     <div class="col">
                        <h5>Fauna</h5>
                        <hr>
                        <ul>
                            <li><span style="font-weight: bold;color: #dc3545">Saltwater Crocodile (Crocodylus porosus):</span> The park is characterized by extensive grasslands, reeds, and aquatic plants, especially in the marshy areas and along riverbanks.
                            </li><br>
                            <li><span style="font-weight: bold;color: #dc3545">Bengal Tiger (Panthera tigris tigris):</span>Bengal Tiger (Panthera tigris tigris):
                                The Sundarbans is home to the iconic Bengal tiger, well-adapted to the mangrove environment. Tigers in this region are known to be strong swimmers and are adept at hunting in the water.
                            </li><br>
                            <li><span style="font-weight: bold;color: #dc3545">Indian Python (Python molurus):</span>
                                The Sundarbans is inhabited by the Indian python, a non-venomous constrictor that plays a vital role in the ecosystem.
                            </li><br>
                            <li><span style="font-weight: bold;color: #dc3545">Birdlife:</span>
                                The Sundarbans is a haven for avian species. It hosts numerous resident and migratory birds, including herons, egrets, kingfishers, and the elusive masked finfoot.
                            </li>
                        </ul>
                    </div> 
                </div>
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
                    <div class="col">
                        <h5>Location and Geography</h5>
                        <hr>
                        <p>
                            The Sundarban National Park is located between 21° 432′ – 21° 55′ N latitude and between 88° 42′ – 89° 04′ E longitude. The average altitude of the park is 7.5 m above sea level. The park is composed of 54 small islands and intersected by several distributaries of the Ganges river.
                            The average minimum and maximum temperature is 20 °C and 48 °C respectively. Rainfall is heavy with humidity as high as 80% as it is close to the Bay of Bengal. The monsoon lasts from mid-June to mid-September. Prevailing wind is from the north and north-east from October to mid-March and southwest westerlies prevails from mid-March to September. Storms which sometimes develop into cyclones are common during the months of May to October.<br>
                            Seven main rivers and innumerable watercourses form a network of channels at this estuarine delta. All the rivers have a southward course towards the sea. The eco-geography of this area is totally dependent on the tidal effect of two flow tides and two ebb tides occurring within 24 hours with a tidal range of 3–5 m and up to 8 m in normal spring tide, inundating the whole of Sundarban in varying depths. The tidal action deposits silts back on the channels and raising the bed, it forms new islands and creeks contributing to uncertain geomorphology. There is a great natural depression called the Swatch of No Ground in the Bay of Bengal between 21°00' to 21°22' latitude where the depth of water changes suddenly from 20 m to 500 m. This mysterious depression pushes back the silts towards south and/or further east to form new islands.
                        </p>
                    </div>
                    <div class="col">
                        <img src="https://res.cloudinary.com/doqr54zki/image/upload/v1702493898/WB-MAP_cl6wle.jpg"
                            class="img" />
                    </div>
                </div>
                <div class="col">
                    <h5>Significance</h5>
                    <hr>
                    <p>As the largest mangrove forest globally, the Sundarbans serves as a biodiversity hotspot, sheltering iconic species such as the Bengal tiger and saltwater crocodile. Beyond its rich wildlife, the mangrove ecosystem acts as a natural shield against coastal erosion and provides resilience to climate change by sequestering carbon dioxide.
                        The Sundarbans plays a pivotal role in supporting local economies through fisheries, offering sustenance to fisherfolk whose livelihoods are intertwined with the abundant aquatic life of the region. Moreover, the Sundarbans attracts researchers, tourists, and nature enthusiasts, contributing to both scientific exploration and ecotourism. This natural wonder is a source of cultural inspiration, influencing literature, folklore, and traditional practices in the surrounding communities.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

<!-- Family Gatherings

1.	Family Time: Christmas is a time for families to come together, share meals, and exchange gifts.

2.	Community Events: Many communities organize events, parades, and festivals to celebrate Christmas.
 -->