<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teej</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<style>
    .navColor {
        color: #dc3545;
    }

    .img {
        height: 100%;
        /* Set the height to 100% */
        width: 100%;
        object-fit: cover;
        /* Ensure the image covers the entire container */
    }

    .col {
        display: flex;
        flex-direction: column;
    }

    .content-container {
        height: 100vh;
        overflow-y: auto;
        box-sizing: border-box;
    }

    hr {
        font-weight: bold;
        color: #dc3545;
    }

    h5,
    h6,
    h1 {
        color: #dc3545;
    }
</style>

<body
    background="https://res.cloudinary.com/dhva31opb/image/upload/v1702481107/bggggg_dtuite.jpg">
    <div class="content-container">
        {% include 'head-foot/navbar.html' %}
        <div class="container pt-5">
            <div class="card mt-5 p-5 mb-5">
                <h1 class="pb-5">Teej</h1>
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <div class="col">
                        <img src="https://res.cloudinary.com/dhva31opb/image/upload/v1702479530/1200px-Teej_dnrwmp.jpg"
                            class="img" />
                    </div>
                    <div class="col">
                        <h5>Introduction</h5>
                        <hr>
                        <p>Teej , literally meaning the "third" denoting the third day after the new moon when the
                            monsoon begins as per the Hindu calendar, is a combined name for 3 Hindu festivals primarily
                            dedicated to Hindu deities - the mother goddess Parvati and her male consort Shiva, mainly
                            celebrated by married women & unmarried girls mostly in North India and Nepal to wish for
                            the long life of their husband or future husband and to welcome the arrival of monsoon
                            season with the singing, swings, dancing, enjoyment, prayer rituals and often fast.

                            "Teej" is a generic name referring to the three types of Teej festivals - Haryali Teej on
                            the third day after new moon of the shravana month, Kajari Teej 15 days later, and Hartalika
                            Teej another 15 days later. The Haryali Teej (literally meaning the "green teej"), also
                            known as the Sindhara Teej, Chhoti Teej, Shravana Teej or Sawan Teej, falls on the third day
                            after new moon of the shravana month, marking the day when Shiva consented to goddess
                            Parvati's wish to marry him, celebrated by married women, who visit their parental home and
                            prepare swings on which they then swing and sing happy teej songs. The Kajari Teej
                            (literally meaning the "dark teej"), also known as the Badi Teej, is celebrated 15 days
                            after the "Haryali Teej" during the dark (waxing crescent) phase of the moon. The Hartalika
                            Teej (literally a composite word of "Harat" and "Aalika" meaning "a woman's kidnap with her
                            consent by her female friends"), falls one lunar month after the "Haryali Teej" on the third
                            day after new moon in the month of Bhadrapada which usually falls a day before the Ganesh
                            Chaturthi, it marks the occasion when Parvati encouraged her friends to kidnap her to escape
                            the marriage with Shiva after her father Himalaya wanted to gave her hand in marriage to
                            him. It is celebrated by married women who observe "nirjala vrata" (water-less fast) for the
                            long life of their husband.


                        </p>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
                    <div class="col">
                        <h5>Haryali Teej</h5>
                        <hr>
                        <p>Haryali Teej (Green Teej) is celebrated on the third day after the new moon in the month of
                            Shraavana/Sawan (of the Hindu calendar). As Shraavana falls during the monsoon or rainy
                            season when the surroundings become green, the Shraavana Teej is also called Hariyali Teej.

                            The Hariyali Teej festival is also celebrated to remember the reunion of Shiva and Parvati,
                            the day when Shiva accepted Parvati as his wife. Parvati fasted and was austere for many
                            years and was accepted by Shiva as his wife in her 108 birth. Parvati is also known as Teej
                            mata(Teej Mother).


                        </p>
                        <h6>Sindhara</h6>
                        <p>On Teej married daughters receive the gifts by her mother such clothes, bangles, bindi,
                            mehandi, etc. Ghevar, a special sweet, are given to them on this day. These gifts are known
                            as Sindhara. According to Bhatnager (1988), Sindhara is derived from the Sanskrit word
                            sringar which means "decoration of women and their charming beauty".

                        </p>
                        <h6>Observance of Haryali Teej</h6>
                        <p>Haryali teej is celebrated in Punjab, Haryana and Rajasthan.</p>
                        <ul>
                            <li><h6>Haryana - </h6></li>
                            <p>Haryali Teej is one of the famous festivals of Haryana, and is celebrated as an official
                                holiday. Many functions are organised by the Government of Haryana to celebrate this
                                festival, which welcomes the rainy season. Boys traditionally flew kites from morning to
                                evening, though this tradition is losing its charm in big cities due to high rise
                                buildings and lack of terrace space.[14]

                                Swings are set up in open courtyards, under trees for the season. Girls apply henna to
                                their hands and feet and are excused from household chores on this day. On Teej, girls
                                often receive new clothes from their parents.

                                On Teej, just as on Karva Chauth, the mother sends a baya or gift. The puja is performed
                                in the morning. The baya, which consists of a variety of foodstuffs, is placed on a
                                thaali at a place of worship where a chowk (square) has been decorated, and an idol or
                                picture of Parvati has been installed. The evenings are set aside for folk singing and
                                dancing, including the women's prayers for their husbands' longevity and their families.
                            </p>
                            <li><h6>Punjab - </h6></li>
                            <p>Teej is known as Teeyan in Punjab and is seen as a seasonal festival which is dedicated
                                to the onset of the monsoon.The festival is celebrated by women of all faiths, and lasts
                                from the third day of the bright half of the lunar month of Sawan as per the Bikrami
                                calendar (Punjabi calendar) to the full moon of Sawan (about 13 days). Teeyan involves
                                women getting together and performing Gidda, married women visiting their families and
                                receiving gifts. It is also traditional for women to ride on swings.

                            </p>
                            <li><h6>Rajasthan - </h6></li>
                            <p>Teej welcomes the monsoon and observed in the month of Shravan (July/August). The monsoon
                                rains fall on the parched land and the pleasing scent of the wet soil rises into the
                                air. Swings are hung from trees and women dressed in green clothes sing songs in
                                celebration of the advent of the monsoon.

                                This festival is dedicated to Parvati, commemorating her union with Shiva.[6] Parvati is
                                worshipped by seekers of conjugal bliss and happiness. An elaborate procession is taken
                                out in Jaipur for two continuous days on the festive occasion which is watched by people
                                in large numbers. The Teej idol is covered with a canopy whereas the Gangaur idol is
                                open. The traditional Ghevar sweet is also associated with the festival.

                                During Teej, Parvati is worshiped. The day before Haryali Teej, is celebrated as
                                Sinjara, wherein women put mehndi on their hands and feet</p>
                        </ul>
                    </div>

                    <div class="col">
                        <img src="https://res.cloudinary.com/dhva31opb/image/upload/v1702479622/hariyaliteej1_rhvuig.jpg"
                            class="img" /><br>
                            <img src="https://res.cloudinary.com/dhva31opb/image/upload/v1702480307/ht_ua20qd.jpg"
                            class="img" />
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
                    <div class="col">
                        <img src="https://res.cloudinary.com/dhva31opb/image/upload/v1702480672/Kt_p9ypg3.jpg"
                            class="img" />



                    </div>
                    <div class="col">
                        <h5>Kajari Teej</h5>
                        <hr>

                        <p>Kajari Teej is celebrated in the Bikrami lunar month of Bhadrapada: the third day of the dark
                            fortnight of Bhadrapada. Kajari Teej is also called Boorhi Teej. In Rajasthan, Kajari Teej
                            is called Badi Teej (Bigger Teej)as it follows Haryali Teej, which is known as Chhoti Teej
                            (Smaller Teej).

                            Women in Uttar Pradesh pray to Shiva on Kajari Teej. It is also customary to sing folk songs
                            known as kajris. The focus of the lyrics is usually on separation expressing the pining of a
                            woman for her beloved in her parents' home, where she has been sent to celebrate Teej,
                            waiting in anticipation to be collected by brothers to celebrate Teej. The kajri is a folk
                            song composed and sung in the regions of eastern Uttar Pradesh, Bihar and in parts of Madhya
                            Pradesh and Rajasthan.

                            Women who observe the Kajari Teej fast go without food and water. Kajari Teej is associated
                            closely with Kajali Teej, which also involves praying to the moon. The fast is broken by
                            eating sattu. The other focus of the day is to pray to the neem tree. A fair is held in
                            Bundi in Rajasthan to celebrate Kajari Teej.

                        </p>

                    </div>

                </div>
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
                    <div class="col">
                        <h5>Hartalika Teej</h5>
                        <hr>
                        <p>Hartalika is a combination of the Sanskrit words harit and aalika which means "abduction" and "female friend" respectively. According to the legend of Hartalika Teej, Parvati, incarnated as Shailaputri

                            On the third day of the bright half of Bhadrapada, Parvati made a shiva lingam out of sand and silt of Ganga and prayed. Shiva was so impressed that he gave his word to marry Parvati. Eventually, Parvati was united with Shiva and was married to him with her father's blessing. Since then, the day is referred to as Hartalika Teej as Parvati's female (aalika) friend had to abduct (harit) her in order for the goddess to achieve her goal of marrying Shiva.
                            
                            Accordingly, Hartalika Teej is seen as a major festival and is celebrated on the third day of the bright half of the Indian/North Nepali Lunar month of Bhadrapada. The festival women feasting during the evening of Hartalika Teej, praying to Parvati and Shiva, remembering their wedding and staying up all night listening to prayers. The fast (also called nishivasar nirjala vrat) commences during the evening of Hartalika Teej and is broken the next day after a full day's observance which involves women not even drinking water. The focus is on praying to Parvati whom Shiva desired should be worshipped under the name Hartalika. The main areas of celebration are Rajasthan, Uttar Pradesh and Uttarakhand,. In Rajasthan, an idol of Parvati is taken out in procession in the streets accompanied by singing, and music. Hartalika Teej has also spread to parts of Madhya Pradesh, Chhattisgarh .</p>
                    </div>
                    <div class="col">
                        <img src="https://res.cloudinary.com/dhva31opb/image/upload/v1702480623/HT_5_sdwruw.png"
                            class="img" />
                    </div>


            </div>
        </div>
    </div>
    </div>
</body>

</html>