<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vishu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<style>
    .navColor {
        color: #dc3545;
    }

    .img {
        height: 100%;
        /* Set the height to 100% */
        width: 100%;
        object-fit: cover;
        /* Ensure the image covers the entire container */
    }

    .col {
        display: flex;
        flex-direction: column;
    }

    .content-container {
        height: 100vh;
        overflow-y: auto;
        box-sizing: border-box;
    }

    hr {
        font-weight: bold;
        color: #dc3545;
    }

    h5,
    h6,
    h1 {
        color: #dc3545;
    }
</style>

<body background="https://res.cloudinary.com/dhva31opb/image/upload/v1702124336/Untitled_design_copy_g8o8hf.jpg">
    <div class="content-container">
        {% include 'head-foot/navbar.html' %}
        <div class="container pt-5">
            <div class="card mt-5 p-5 mb-5">
                <h1 class="pb-5">Vishu</h1>
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <div class="col">
                        <h5>Introduction</h5>
                        <hr>
                        <p>Vishu (Malayalam: വിഷു) is a cultural festival celebrating the Malayali New Year in Kerala,
                            Tulu Nadu, and Mahe of India. Vishu falls on the first day of the month of Medam in the
                            Malayalam Calendar (April 14 or 15 in the Gregorian calendar). It is the traditional new
                            year, while the Kollam era calendar new year falls on the 1st Chingham
                        </p>
                        <br>
                        <p>Celebrated in Kerala from the reign of Sthanu Ravi since 844 AD, Vishu is believed to mark
                            the
                            day when Krishna killed the demon Narakasura. Hence, Krishna idols are kept in the Vishu
                            kani. Hindus consider Vishnu as the God of Time and so on this festival, Vishnu and his
                            incarnation Krishna are worshipped.
                        </p>
                    </div>
                    <div class="col">
                        <img src="https://res.cloudinary.com/dhva31opb/image/upload/v1702393955/vishu_jvhlzy.png"
                            class="img" />
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
                    <div class="col">
                        <img src="https://res.cloudinary.com/dhva31opb/image/upload/v1702394135/Traditions-of-Vishu_zccbmi.avif"
                            class="img" />
                    </div>
                    <div class="col">
                        <h5>Religious significance</h5>
                        <hr>
                        <p>The Vishu marks the first day of the astronomical year and hence Lord Vishnu and his
                            incarnation Lord Krishna are worshipped on the day of Vishu, as Lord Vishnu is considered as
                            the God of Time. It was on this day that Lord Krishna killed the demon Narakasura and
                            because of this Krishna idols are kept in the Vishu kani.
                            The current Vishu year is 01-01-5124 Vishu Vasrhsam (same year as Kali Yuga, as of April 15,
                            2022). Records that Vishu has been celebrated in Kerala occurred from the reign of Sthanu
                            Ravi since 844 CE, when the new era calendar (Kolla Varsham) was initiated replacing the
                            older calendar with 13 months in a year.
                        </p>
                        <br>
                        <p>On this day, the most significant event is the sighting of the Vishukkani during dawn, which
                            is believed to bring luck throughout the year. In Malayalam, the word ‘kani’ means ‘that
                            which is seen first’, hence, ‘Vishukkani’ means ‘that which is seen first on Vishu.’
                            It is believed the first thing that children see on the day should represent abundance. For
                            this, the Vishukkan is prepared and children are blindfolded and brought to the altar to see
                            the decorations and start the new year on an auspicious note.
                            The Vishukkani is prepared by Malayali women and comprises of items like rice, lemon, golden
                            cucumber, jackfruit, kanmash kajal, betel leaves, golden yellow Konna flowers, an oil lamp,
                            mirror, coins and currency notes and image of Vishnu, the Hindu god. This is the auspicious
                            sight which family members open their eyes to first thing in the morning.
                        </p>
                    </div>

                </div>
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
                    <div class="col">
                        <img src="https://res.cloudinary.com/dhva31opb/image/upload/v1702398330/vishu2_dlqmfg.jpg"
                            class="img mb-5" />
                    </div>
                    <div class="col">
                        <h5>Customs and Celebrations</h5>
                        <hr>
                        <br>
                        <p>The Vishu festival is observed during the early hours of the morning in temples such as the
                            Guruvayur Sree Krishna Temple or the Kulathupuzha Sree BaalaShastha Temple. On this
                            occasion, family and friends prepare different types of delicacies as part of the day’s
                            celebrations.They wake up early and watch the laburnum tree while making offerings
                            comprising silver items, rice and money.The tradition of buying of new clothes for the
                            occasion of Vishu is called Puthukodi or Vishukodi. There is also a popular tradition of
                            elders giving money to younger ones or dependents of the family. This is called
                            Vishukkaineetam. Another tradition is of giving alms and contributing to community charity.
                            Children enjoy setting off firecrackers.</p>
                        <ul>
                            <li><span style="font-weight: bold;color: #dc3545;">Vishukkani:</span>The most significant
                                ritual of Vishu is the arrangement of "Vishukkani," which is a special set-up of
                                auspicious items. The Vishukkani is prepared the night before Vishu and includes items
                                such as rice, fruits, vegetables, gold coins, a holy book, mirror, and a beautiful image
                                or idol of Lord Krishna.</li>
                            <li><span style="font-weight: bold;color: #dc3545;">Vishu Kaineettam:</span>On Vishu
                                morning, people wake up early and first view the Vishukkani. This is believed to set the
                                tone for the rest of the year. After seeing the Vishukkani, elders in the family give
                                "Vishu Kaineettam," which is a tradition of giving money or gifts to younger members of
                                the family, symbolizing prosperity and goodwill.</li>
                        </ul>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
                    <div class="col">
                        <ul>
                            <li><span style="font-weight: bold;color: #dc3545;">Vishu Sadya (Feast): </span>A special
                                feast known as Vishu Sadya is prepared on this day, featuring a variety of traditional
                                dishes. Vishu is a day of feasting and the food comprises sweet, salty, sour and bitter
                                items. Food items include Veppampoorasam, which is a bitter preparation of
                                Mampazhapachadi (a sour mango soup) and neem. Sadya is a feast which comprises
                                traditional vegetarian dishes.The feast is usually served on a banana leaf and includes
                                items like rice, sambar, aviyal, thoran, and various payasams (sweet dishes).</li>
                            <li><span style="font-weight: bold;color: #dc3545;">Fireworks and Lighting: </span>On Vishu
                                morning, people wake up early and first view the Vishukkani. This is believed to set the
                                tone for the rest of the year. After seeing the Vishukkani, elders in the family give
                                "Vishu Kaineettam," which is a tradition of giving money or gifts to younger members of
                                the family, symbolizing prosperity and goodwill.</li>
                            <li><span style="font-weight: bold;color: #dc3545;">Cultural Programs:</span>Various
                                cultural programs, including traditional music and dance performances, are organized to
                                celebrate Vishu. People participate in communal gatherings and events to share the
                                festive spirit.</li>
                            <li><span style="font-weight: bold;color: #dc3545;">Visit to Temples:</span>Many people
                                visit temples on Vishu to seek blessings for the new year. Special pujas and rituals are
                                conducted in temples, and devotees offer prayers for a prosperous year ahead.</li>
                        </ul>
                    </div>
                    <div class="col">
                        <img src="https://res.cloudinary.com/dhva31opb/image/upload/v1702398596/Vishu_Katta_A_Festive_Special20180105105954_164_1_qou6dq.jpg"
                            class="img mb-5" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>